<div class="container" *ngIf="loadingData">
  <!-- Pantalla de carga -->
  <div class="loading">Cargando...</div>
</div>

<div class="row" *ngIf="!loading">
  <div class="breadcrumb">
    <h1 *ngIf="viewMode === 'new'">Registrar Pedido</h1>
    <h1 *ngIf="viewMode === 'detail'">Ver Detalle de Pedido</h1>
    <ul>
      <li><a [routerLink]="['/orders']">Pedidos</a></li>
      <li *ngIf="viewMode === 'new'">Registrar Pedido</li>
      <li *ngIf="viewMode === 'detail'">Ver Detalle de Pedido</li>
    </ul>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card mb-4">
        <div class="card-body">
          <div class="card-title mb-3">Formulario de Pedido</div>
          <form [formGroup]="formBasic" (ngSubmit)="createOrder()">
            <div class="row">
              <div class="col-md-5 form-group mb-3">
                <label for="id_client">Cliente</label>
                <select
                  class="form-control"
                  id="id_client"
                  [disabled]="viewMode === 'detail'"
                  *ngIf="viewMode === 'detail'; else clientNewMode"
                >
                  <option>{{ selected_client }}</option>
                </select>
                <ng-template #clientNewMode>
                  <select class="form-control">
                    <option [value]="">Seleccione el nombre del cliente</option>
                    <option
                      *ngFor="let client of listClients"
                      [value]="client.id_client"
                    >
                      {{ client.name_client }}
                    </option>
                  </select>
                </ng-template>
              </div>

              <div class="col-md-5 form-group mb-3">
                <label for="id_employee">Empleado</label>
                <select
                  class="form-control"
                  id="id_employee"
                  [disabled]="viewMode === 'detail'"
                  *ngIf="viewMode === 'detail'; else employeeNewMode"
                >
                  <option>{{ selected_employee }}</option>
                </select>
                <ng-template #employeeNewMode>
                  <select class="form-control">
                    <option [value]="">
                      Seleccione el nombre del empleado
                    </option>
                    <option
                      *ngFor="let employee of listEmployees"
                      [value]="employee.id_employee"
                    >
                      {{ employee.name_employee }}
                    </option>
                  </select>
                </ng-template>
              </div>

              <div class="col-md-2 form-group mb-3">
                <label for="payment_type">Tipo de Pago</label>
                <select
                  class="form-control"
                  id="payment_type"
                  [disabled]="viewMode === 'detail'"
                  *ngIf="viewMode === 'detail'; else paymentTypeNewMode"
                >
                  <option>{{ selected_payment_type }}</option>
                </select>
                <ng-template #paymentTypeNewMode>
                  <select class="form-control" id="payment_type">
                    <option [value]="Contado">Contado</option>
                    <option [value]="Credito">Crédito</option>
                  </select>
                </ng-template>
              </div>
            </div>

            <div class="col-md-12 mt-4 table-border">
              <table class="table table-hover mb-4">
                <thead class="bg-gray-300">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre del Producto</th>
                    <th scope="col">Precio Unitario</th>
                    <th scope="col">Unidades</th>
                    <th scope="col">Subtotal</th>
                    <th scope="col">Acciones</th>
                  </tr>
                </thead>
                <tbody formArrayName="products">
                  <ng-container *ngIf="viewMode === 'new'; else detailView">
                    <tr
                      *ngFor="
                        let product of productsFormArray.controls;
                        let i = index
                      "
                      [formGroupName]="i"
                    >
                      <th scope="row">{{ i + 1 }}</th>
                      <td>
                        <select
                          class="form-control"
                          id="id_product"
                          formControlName="id_product"
                          (change)="handleProductSelection($event, i)"
                        >
                          <option
                            *ngFor="let product of listProducts"
                            [value]="product.id_product"
                          >
                            {{ product.name_product }}
                          </option>
                        </select>
                      </td>
                      <td>
                        <input
                          type="number"
                          name="unitPrice"
                          id="unitPrice"
                          class="form-control"
                          formControlName="unitPrice"
                          [readonly]="true"
                          *ngIf="viewMode === 'new'"
                        />
                      </td>
                      <td>
                        <input
                          type="number"
                          class="form-control"
                          formControlName="unit"
                          (change)="handleProductSelection($event, i)"
                        />
                      </td>
                      <td>
                        <input
                          type="number"
                          class="form-control"
                          formControlName="subtotal"
                          [readonly]="true"
                        />
                      </td>
                      <td class="d-flex justify-content-between">
                        <button
                          *ngIf="numberOfProducts > 1"
                          class="btn btn-danger"
                          (click)="removeProduct(i)"
                        >
                          <i class="i-Remove-Cart"></i>
                        </button>
                        <div
                          class="button_container"
                          *ngIf="i === productsFormArray.controls.length - 1"
                        >
                          <button
                            class="btn btn-primary"
                            (click)="addProduct()"
                          >
                            +
                          </button>
                        </div>
                      </td>
                    </tr>
                  </ng-container>
                  <ng-template #detailView>
                    <tr
                      *ngFor="
                        let product of order_detail_products;
                        let i = index
                      "
                    >
                      <th scope="row">{{ i + 1 }}</th>
                      <td>{{ product.id_product }}</td>
                      <td>{{ product.product_price }}</td>
                      <td>{{ product.product_quantity }}</td>
                      <td>{{ product.product_quantity }}</td>
                    </tr>
                  </ng-template>
                </tbody>
              </table>
              <div class="table-footer">
                <div class="col-md-8"></div>
                <div class="col-md-8">
                  <div class="total">
                    Total:
                    {{ viewMode == "new" ? calculateTotal() : orderTotal }}
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12" style="margin-top: 20px">
              <div class="d-flex justify-content-end">
                <button
                  class="btn btn-danger float-right"
                  [routerLink]="['/orders']"
                >
                  Volver
                </button>
                <div *ngIf="viewMode === 'new'" style="width: 10px"></div>
                <btn-loading
                  *ngIf="viewMode === 'new'"
                  btnClass="btn-primary"
                  [loading]="loading"
                  >Crear Pedido</btn-loading
                >
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
