<div class="breadcrumb">
  <h1 *ngIf="viewMode === 'new'">Registrar Usuario</h1>
  <h1 *ngIf="viewMode === 'edit'">Modificar Usuario</h1>
  <h1 *ngIf="viewMode === 'print'">Ver Detalle de Usuario</h1>
</div>

<div class="separator-breadcrumb border-top"></div>
<div
  *ngIf="showLoadingScreen && (viewMode == 'edit' || viewMode == 'print')"
  class="loading-screen"
>
  <div class="loading-content">
    <div class="spinner spinner-primary me-3"></div>
  </div>
</div>

<div *ngIf="showLoadingScreen == false || viewMode == 'new'">
  <!-- Contenido común a todas las vistas -->
  <div class="form-container">
    <!-- Vista de crear usuarios -->
    <div class="row">
      <div class="col-md-12">
        <div class="card mb-4">
          <div class="card-body">
            <form [formGroup]="userForm" (ngSubmit)="submitUser()">
              <div class="row">
                <div class="col-md-3 form-group mb-3">
                  <label for="name_ role"
                    >Rol<span class="text-danger">*</span></label
                  >
                  <select
                    class="form-control"
                    id="name_role"
                    formControlName="id_role"
                  >
                    <option value="" disabled selected>Elija el rol</option>
                    <option
                      *ngFor="let role of listRoles"
                      [value]="role.id_role"
                    >
                      {{ role.name_role }}
                    </option>
                  </select>
                  <div
                    *ngIf="
                      userForm.get('name_role').touched &&
                      userForm.get('name_role').hasError('required')
                    "
                    class="error-message"
                  >
                    El campo rol es obligatorio.
                  </div>
                </div>
                <div class="col-md-3 form-group mb-3" *ngIf="viewMode == 'new'">
                  <label for="id_card_employee"
                    >Cédula Empleado <span class="text-danger">*</span></label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="id_card_employee"
                    formControlName="id_card_employee"
                    (change)="searchEmployeeByEmail()"
                    (input)="clearEmployeeValidation()"
                    required
                    minlength="6"
                    maxlength="10"
                  />
                  <input
                    type="hidden"
                    class="form-control ng-touched ng-dirty ng-invalid"
                    id="id_employee"
                    formControlName="id_employee"
                    disabled
                  />
                  <div
                    *ngIf="userForm.get('id_card_employee').hasError('pattern')"
                    class="error-message"
                  >
                    El campo cédula debe contener solo números.
                  </div>
                  <div
                    *ngIf="
                      userForm.get('id_card_employee').hasError('minlength')
                    "
                    class="error-message"
                  >
                    La cédula debe contener mínimo 6 caracteres.
                  </div>
                  <div
                    *ngIf="
                      userForm.get('id_card_employee').hasError('maxlength')
                    "
                    class="error-message"
                  >
                    El campo cédula no puede superar los 10 caracteres.
                  </div>

                  <div
                    *ngIf="
                      userForm.get('id_card_employee').touched &&
                      userForm.get('id_card_employee').hasError('required')
                    "
                    class="error-message"
                  >
                    El campo cédula empleado es obligatorio.
                  </div>
                  <!-- Mostrar mensaje de empleado no encontrado -->
                  <div *ngIf="employeeNotFoundMessage" class="error-message">
                    {{ employeeNotFoundMessage }}
                  </div>
                </div>

                <div class="col-md-3 form-group mb-3">
                  <label for="email"
                    >Correo<span class="text-danger">*</span></label
                  >
                  <input
                    type="email"
                    class="form-control"
                    id="email"
                    formControlName="email"
                    required
                    disabled
                  />
                  <div
                    *ngIf="userForm.get('email').hasError('emailTaken')"
                    class="error-message"
                  >
                    El correo electrónico ya está en uso.
                  </div>
                  <!-- <div
                  *ngIf="
                    userForm.get('email').touched &&
                    userForm.get('email').hasError('required')
                  "
                  class="error-message"
                >
                  El campo correo es obligatorio.
                </div> -->
                  <!-- <div
                  *ngIf="userForm.get('email').hasError('email')"
                  class="error-message"
                >
                  El campo correo debe ser un formato de correo electrónico
                  válido.
                </div> -->
                  <!-- <div
                  *ngIf="userForm.get('email').hasError('invalidDomain')"
                  class="error-message"
                >
                  El dominio del correo no es válido.
                </div> -->
                  <!-- <div
                  *ngIf="userForm.get('email').hasError('maxlength')"
                  class="error-message"
                >
                  El campo correo no puede superar los 80 caracteres.
                </div>
                <div
                  *ngIf="userForm.get('email').hasError('emailTaken')"
                  class="error-message"
                >
                  El correo electrónico ya está en uso.
                </div> -->
                </div>

                <div class="col-md-3 form-group mb-3" *ngIf="viewMode == 'new'">
                  <label for="name_employee"
                    >Nombre Empleado<span class="text-danger"></span
                  ></label>
                  <input
                    type="text"
                    class="form-control"
                    id="name_employee"
                    formControlName="name_employee"
                    required
                    disabled
                  />
                </div>

                <div class="col-md-6 form-group mb-3">
                  <label for="username"
                    >Nombre Usuario<span class="text-danger">*</span></label
                  >
                  <input
                    type="text"
                    class="form-control ng-touched ng-dirty ng-invalid"
                    id="username"
                    formControlName="username"
                    required
                  />
                  <div
                    *ngIf="
                      userForm.get('username').touched &&
                      userForm.get('username').hasError('required')
                    "
                    class="error-message"
                  >
                    El campo nombre usuario es obligatorio.
                  </div>
                  <div
                    *ngIf="userForm.get('username').hasError('invalidName')"
                    class="error-message"
                  >
                    El campo nombre no puede tener simbolos y solo puede tener 1
                    numero.
                  </div>
                  <div
                    *ngIf="userForm.get('username').hasError('minlength')"
                    class="error-message"
                  >
                    El nombre de usuario debe contener mínimo 3 caracteres.
                  </div>

                  <div
                    *ngIf="userForm.get('username').hasError('maxlength')"
                    class="error-message"
                  >
                    El campo nombre no puede superar los 15 caracteres.
                  </div>
                </div>

                <div
                  *ngIf="viewMode == 'print'"
                  class="col-md-3 form-group mb-3"
                >
                  <label for="state_user"
                    >Estado<span class="text-danger">*</span></label
                  >
                  <input
                    class="form-control"
                    id="state_user"
                    formControlName="state_user"
                  />
                </div>

                <div class="col-md-6 form-group mb-3" *ngIf="viewMode == 'new'">
                  <label for="password"
                    >Contraseña<span class="text-danger">*</span></label
                  >
                  <input
                    type="password"
                    class="form-control"
                    id="password"
                    formControlName="password"
                  />
                  <div
                    *ngIf="
                      userForm.get('password').touched &&
                      userForm.get('password').hasError('required')
                    "
                    class="error-message"
                  >
                    El campo contraseña es obligatorio.
                  </div>

                  <div
                    *ngIf="userForm.get('password').hasError('minlength')"
                    class="error-message"
                  >
                    La contraseña debe contener mínimo 5 caracteres.
                  </div>
                  <div
                    *ngIf="userForm.get('password').hasError('maxlength')"
                    class="error-message"
                  >
                    La contraseña debe contener maximo 10 caracteres.
                  </div>
                </div>

                <div class="col-md-12 form-group mb-3">
                  <label for="observation_user">Observación</label>
                  <textarea
                    class="form-control ng-touched ng-dirty ng-invalid"
                    style="resize: none"
                    rows="7"
                    id="observation_user"
                    formControlName="observation_user"
                  ></textarea>

                  <div
                    *ngIf="
                      userForm.get('observation_user').hasError('maxlength')
                    "
                    class="error-message"
                  >
                    El campo observación no puede superar los 100 caracteres.
                  </div>
                </div>

                <div
                  *ngIf="viewMode == 'new' || viewMode == 'edit'"
                  class="form-group text-right"
                  style="text-align: right"
                >
                  <button
                    type="button"
                    class="btn btn-danger ml-2"
                    (click)="cancel()"
                  >
                    Cancelar
                  </button>
                  <btn-loading
                    *ngIf="viewMode !== 'print'"
                    btnClass="btn btn-primary m-1 custom-button"
                    [loading]="loading"
                  >
                    {{
                      viewMode == "new"
                        ? "Registrar Usuario"
                        : "Modificar Usuario"
                    }}
                  </btn-loading>
                </div>
                <div
                  *ngIf="viewMode === 'print'"
                  class="form-group text-right"
                  style="text-align: right"
                >
                  <button
                    type="button"
                    class="btn btn-danger ml-2"
                    (click)="cancel()"
                  >
                    Volver
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
