<div class="breadcrumb">
    <h1 *ngIf="viewMode === 'new'">Registrar Comision</h1>
    <h1 *ngIf="viewMode === 'print'">Ver Detalle de la Comision</h1>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card mb-4">
            <div class="card-body">

                <form [formGroup]="formBasic" (ngSubmit)="submit()">
                    <div class="row">
                        <div class="col-md-6 form-group mb-3">
                            <label for="id_employee">Empleado<span *ngIf="viewMode === 'new'"
                                    class="text-danger">*</span></label>
                            <div *ngIf="viewMode === 'new'">
                                <select class="form-control" id="id_employee" formControlName="id_employee"
                                    (change)="updateComs()">
                                    <option>Elija el empleado</option>
                                    <option *ngFor="let employee of activeEmployees" [value]="employee.id_employee">
                                        {{ employee.name_employee }}</option>
                                </select>
                            </div>
                            <div *ngIf="viewMode === 'print'">
                                <input type="text" class="form-control" [readonly]="true"
                                    [ngClass]="{'placeholder-black': viewMode === 'print'}" [value]="selectedEmployee">
                            </div>
                        </div>
                        <div class="col-md-6 form-group mb-3">
                            <label for="id_comission_detail">Mes comisión<span *ngIf="viewMode === 'new'"
                                    class="text-danger">*</span></label>
                            <div *ngIf="viewMode === 'new'">
                                <select class="form-control" id="id_comission_detail"
                                    formControlName="id_commission_detail" (change)="updateComs()">
                                    <option>Elija el mes de la comisión</option>
                                    <option *ngFor="let detail of listComisionDetail"
                                        [value]="detail.id_commission_detail">
                                        {{ detail.month_commission | date: 'yyyy-MM' }}</option>
                                </select>
                            </div>
                            <div *ngIf="viewMode === 'print'">
                                <input type="text" class="form-control" [readonly]="true"
                                    [ngClass]="{'placeholder-black': viewMode === 'print'}"
                                    [value]="selectedMonth | date: 'yyyy-MM'">
                            </div>
                        </div>
                        <div class="col-md-6 form-group mb-3">
                            <label for="total_commission">Total comisión</label>
                            <input type="text" class="form-control" id="total_commission"
                                [placeholder]="Commission || 'Total Comisión'" [readonly]="true"
                                [ngClass]="{'placeholder-black': viewMode === 'print'}"
                                formControlName="total_commission">
                        </div>


                        <div class="col-md-6 form-group mb-3">
                            <label for="commission_percentage">Porcentaje de comisión</label>
                            <input class="form-control" id="commission_percentage" [readonly]="true"
                                formControlName="commission_percentage"
                                [placeholder]="Percentage || 'Porcentaje'"
                                [ngClass]="{'placeholder-black': viewMode === 'print'}">
                        </div>

                        <div class="col-md-6 form-group mb-3">
                            <label for="total_sales">Total ventas</label>
                            <input class="form-control" id="total_sales" [readonly]="true"
                                [ngClass]="{'placeholder-black': viewMode === 'print', 'text-danger': noSales}"
                                [placeholder]="Sales || 'No se realizó ninguna venta'"
                                formControlName="total_sales">
                            <div *ngIf="viewMode === 'new' && noSales === true" class="text-danger">
                                <div>{{message}}</div>
                            </div>
                        </div>
                        

                        <div class="col-md-12">
                            <div class="d-flex justify-content-between align-items-center">

                              <!-- Botón "Registrar Comisión" a la derecha -->
                              <div>
                                <button class="btn btn-danger float-right" [routerLink]="['/comisiones']" style="margin-right: 5px;">Volver</button>
                                <button class="btn btn-primary float-right ml-2" *ngIf="viewMode === 'new'" [loading]="loading" [disabled]="!formBasic.get('total_sales').value || noSales">
                                  Registrar Comisión
                                </button>
                              </div>
                            </div>
                          </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- <div class="col-md-6 form-group mb-3">
    <label for="id_comission_detail">Mes comisión</label>
    <div *ngIf="viewMode === 'new'">
        <select class="form-control" id="id_comission_detail"
            formControlName="id_commission_detail" (change)="updateCommissionPercentage()">
            <option value="" disabled selected>Elija el mes de la comisión</option>
            <option *ngFor="let detail of listComisionDetail"
                [value]="detail.id_commission_detail">
                {{ detail.month_commission | date: 'yyyy-MM' }}</option>
        </select>
    </div>
    <div *ngIf="viewMode === 'print'">
        <input type="text" class="form-control" [readonly]="true"
            [ngClass]="{'placeholder-black': viewMode === 'print'}"
            [value]="comission?.month_commission">
    </div>
</div> -->

<!-- <div class="col-md-6 form-group mb-3">
    <label for="id_comission_detail">Mes comisión</label>

    <select class="form-control" id="id_comission_detail" [disabled]="viewMode === 'print'"
        *ngIf="viewMode === 'print'; else commisionNewMode"
        (change)="updateCommissionPercentage()">
        <option>{{ selectedMonth | date: 'yyyy-MM'}}</option>
    </select>
    <ng-template #commisionNewMode>
        <select class="form-control">
            <option *ngFor="let detail of listComisionDetail"
                [value]="detail.id_commission_detail">
                {{ detail.month_commission | date: 'yyyy-MM' }}</option>
        </select>
    </ng-template>
</div> -->