/* Agrega este estilo en tu archivo de estilos CSS */

.card.mb-2 {
    height: auto; /* Ajusta la altura automáticamente según el contenido */
}

.card-body {
    padding: 10px; /* Ajusta el relleno interno según sea necesario */
}

.card-title {
    font-size: 16px; /* Ajusta el tamaño del título según sea necesario */
    margin-bottom: 8px; /* Ajusta el espacio inferior según sea necesario */
}

.form-control {
    font-size: 14px; /* Ajusta el tamaño del texto en el menú desplegable según sea necesario */
}


/* Agrega este estilo en tu archivo de estilos CSS */
.bold-text {
    font-weight: bold;
}
