<div class="">
    <div class="breadcrumb">
        <h1>Indicadores de Rendimiento</h1>
        <ul>
            <li><a href="">Dashboard</a></li>
            <li>CosmeTIC</li>
        </ul>
    </div>

    <div class="separator-breadcrumb border-top"></div>
    <form [formGroup]="top_productForm">
        <div class="row justify-content-end">
            <div class="col-lg-3 col-md-3">
                <div class="bold-text text-primary card-title text-right" style="font-size: 15px;" for="selectedMonth">Mes</div>
                <div class="card mb-2">
                    <div class="card-body">
                        <select class="form-control text-primary select-arrow select-month" name="mesSelector" formControlName="selectedMonth" (change)="onMonthChangeMonth($event)">
                            <option *ngFor="let month of months" [value]="month.value">{{ month.name }}</option>
                        </select>
                    </div>
                </div>
            </div>
        
            <div class="col-lg-3 col-md-3">
                <div class="bold-text text-primary card-title" style="font-size: 15px;">
                    Año
                    <input type="checkbox"  (change)="onCheckboxChange($event)">
                  </div>
                  
                <div class="card mb-2">
                    <div class="card-body">
                        <!-- Select para el año, con *ngIf para mostrarlo solo cuando el checkbox está seleccionado -->
                        <select class="form-control text-primary " id="selectedYear"  formControlName="selectedYear" (change)="onMonthChangeYear($event)">
                            <option value="2022">2022</option>
                            <option value="2023">2023</option>

                          </select>
                    </div>
                </div>
            </div>
        </div>
    </form>
  
    
    <div class="row">
        <!-- ICON BG -->
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-icon-bg card-icon-bg-primary o-hidden mb-4">
                <div class="card-body text-center">
                    <i class="i-Add-User"></i>
                    <div class="content">
                        <p class="text-muted mt-2 mb-0">Cantidad de pedidos</p>
                        <p class="text-primary text-24 line-height-1 mb-2">{{total_number_orders}}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-icon-bg card-icon-bg-primary o-hidden mb-4">
                <div class="card-body text-center">
                    <i class="i-Financial"></i>
                    <div class="content">
                        <p class="text-muted mt-2 mb-0">Cantidad de compras</p>
                        <p class="text-primary text-24 line-height-1 mb-2">{{total_number_purchases}}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-icon-bg card-icon-bg-primary o-hidden mb-4">
                <div class="card-body text-center">
                    <i class="i-Checkout-Basket"></i>
                    <div class="content">
                        <p class="text-muted mt-2 mb-0">Cuentas por cobrar</p>
                        <p class="text-primary text-24 line-height-1 mb-2">{{total_debts}}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-icon-bg card-icon-bg-primary o-hidden mb-4">
                <div class="card-body text-center">
                    <i class="i-Money-2"></i>
                    <div class="content">
                        <p class="text-muted mt-2 mb-0">Cuentas pagadas</p>
                        <p class="text-primary text-24 line-height-1 mb-2">{{total_paid}}</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="card-title">Total de ventas por tipo de pago</div>
                    <div echarts [options]="salesChartBar" [autoResize]="true" style="height: 400px;"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-sm-12">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="card-title">Top 5 de Productos más vendidos {{year_data}}

                    </div>
                    <div echarts [options]="salesChartPie" [autoResize]="true" style="height: 300px;"></div>
                </div>
                <!-- <div class="justify-content-start align-self-end">
                 <button class="btn btn-primary m-1 custom-button" (click)="getReportProductsPrediccion()">Predicción</button>


                </div> -->
               
            </div>
        </div>
        <div class="col-lg-12 col-md-12">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="card-title">Rendimiento de Empleados</div>
                    <div echarts [options]="employeesChartBar" [autoResize]="true" style="height: 300px;"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Agrega la directiva ngSubmit para manejar la acción del formulario -->

</div>
<!-- Agrega este script en línea después del final de tu HTML o dentro de un bloque script -->
<!-- Agrega este script en línea después del final de tu HTML o dentro de un bloque script -->
<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Obtén el elemento select
        var selectYear = document.querySelector(".select-year");

        // Obtén el año actual
        var currentYear = new Date().getFullYear();

        // Agrega opciones para los próximos 10 años (puedes ajustar según sea necesario)
        for (var i = 0; i < 10; i++) {
            var option = document.createElement("option");
            option.value = currentYear + i;
            option.textContent = currentYear + i;
            selectYear.appendChild(option);
        }
    });
</script>

<!-- Script para generar opciones de meses -->
<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Obtén el elemento select
        var selectMonth = document.querySelector(".select-month");

        // Lista de meses
        var months = [
            "Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio",
            "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"
        ];

        // Agrega opciones para los meses
        months.forEach(function (month, index) {
            var option = document.createElement("option");
            option.value = index + 1; // Los meses comienzan desde 1
            option.textContent = month;
            selectMonth.appendChild(option);
        });
    });
</script>
<!-- 
<ng-template #changeStatusModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-title">Predicción de productos</h4>
    </div>
    <div class="modal-body">
      <div class="col-lg-12 col-sm-12">
        <div class="card mb-4">
          <div class="card-body">
            <div class="card-title">Predicción de productos {{year_data}}</div>
           
            <div echarts [options]="prediccionChartPie" [autoResize]="true" style="height: 300px;"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary btn" (click)="modal.dismiss('cancel')">Volver</button>
    </div>
  </ng-template> -->
