<div class="breadcrumb">
  <h1>Roles</h1>
</div>

<div class="separator-breadcrumb border-top"></div>

<div *ngIf="showLoadingScreen" class="loading-screen">
  <div class="loading-content">
    <div class="spinner spinner-primary me-3"></div>
  </div>
</div>

<div *ngIf="showLoadingScreen == false">
  <div class="row mb-3">
    <div
      class="col-md-12 mb-3 d-flex justify-content-between align-items-center"
    >
      <div class="col-md-4">
        <div class="form-group">
          <button class="btn btn-primary" [routerLink]="['/roles/new']">
            Registrar Rol
          </button>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <input
            id="role"
            placeholder="Buscar Rol"
            [formControl]="searchControl"
            class="form-control"
            type="text"
            (input)="searchRoles($event)"
          />
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="card o-hidden">
        <ngx-datatable
          class="material fullscreen"
          style="height: 460px"
          [columnMode]="'force'"
          [headerHeight]="50"
          [footerHeight]="50"
          [rowHeight]="60"
          [scrollbarV]="true"
          [rows]="listRoles"
          [externalPaging]="true"
          [count]="listRoles.length"
          [limit]="itemsPerPage"
          [offset]="(currentPage - 1) * itemsPerPage"
          (page)="onPageChange($event)"
        >
          <ngx-datatable-column
            name="name_role"
            [resizeable]="false"
            [canAutoResize]="true"
            class="custom-column-roles"
            style="text-align: center"
          >
            <ng-template
              ngx-datatable-header-template
              style="text-align: center"
            >
              <p style="font-size: 15px">Nombre</p>
            </ng-template>
            <ng-template
              ngx-datatable-cell-template
              let-value="value"
              let-row="row"
              let-rowIndex="rowIndex"
            >
              <ng-container
                *ngIf="row && row.id_role"
                style="font-size: 10px; text-align: center; margin-top: 12px"
              >
                {{ row.name_role }}
              </ng-container>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column
            name="state_role"
            [resizeable]="false"
            [canAutoResize]="true"
            [minWidth]="60"
          >
            <ng-template ngx-datatable-header-template>
              <p style="font-size: 15px">Estado</p>
            </ng-template>
            <ng-template
              ngx-datatable-cell-template
              let-value="value"
              let-row="row"
            >
              <ng-container *ngIf="row && row.id_role">
                {{ row.state_role }}
              </ng-container>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column
            name="actions"
            [resizeable]="false"
            [canAutoResize]="true"
          >
            <ng-template ngx-datatable-header-template>
              <p style="font-size: 15px">Acciones</p>
            </ng-template>
            <ng-template
              ngx-datatable-cell-template
              let-value="value"
              let-row="row"
            >
              <ng-container *ngIf="row && row.id_role">
                <button
                  ngbTooltip="Ver Detalle"
                  class="btn btn-dark m-1"
                  [routerLink]="['/roles/detail', row.id_role]"
                >
                  <i class="i-Eye"></i>
                </button>
                <button
                  *ngIf="
                    row.name_role !== 'Administrador'
                  "
                  ngbTooltip="Modificar"
                  class="btn btn-info m-1"
                  [routerLink]="['/roles/edit', row.id_role]"
                >
                  <i class="i-Pen-4"></i>
                </button>
                <label
                  ngbTooltip="Cambiar Estado"
                  *ngIf="
                    row.name_role !== 'Administrador'
                  "
                  class="switch switch-success me-3"
                >
                  <input
                    type="checkbox"
                    [checked]="row.state_role === 'Activo'"
                    [disabled]="modalAbierto"
                  />
                  <span
                    class="slider"
                    (click)="openModal(row.id_role, row.state_role)"
                  ></span>
                </label>
              </ng-container>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </div>
  </div>
</div>

<ng-template #deleteConfirmModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Cambiar Estado del Rol</h4>
  </div>
  <div class="modal-body">
    <p>
      <strong>{{ stateMessage }}</strong>
    </p>
    <label for="reasonAnulate">Razón de Cambio de estado del Rol:</label>
    <textarea
      placeholder="Razón por la que se cambia el estado del Rol"
      [(ngModel)]="message_observation"
      class="form-control"
      style="resize: none"
      rows="5"
    ></textarea>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-danger btn"
      (click)="modal.dismiss('cancel')"
    >
      Cancelar
    </button>
    <button
      [disabled]="message_observation == ''"
      type="button"
      ngbAutofocus
      class="btn btn-wide btn-primary btn"
      (click)="modal.close('Ok')"
    >
      Aceptar
    </button>
  </div>
</ng-template>
