<div class="breadcrumb">
  <h1 *ngIf="viewMode === 'new'">Registrar Categoría</h1>
  <h1 *ngIf="viewMode === 'edit'">Editar Categoría</h1>
  <h1 *ngIf="viewMode === 'print'">Ver Detalle de Categoría</h1>
  <ul>
    <li><a [routerLink]="['/categories']">Categorías</a></li>
    <li *ngIf="viewMode === 'new'">Registrar Categoría</li>
    <li *ngIf="viewMode === 'edit'">Editar Categoría</li>
    <li *ngIf="viewMode === 'print'">Ver Detalle de Categoría</li>
  </ul>
</div>

<div class="separator-breadcrumb border-top"></div>

<!-- Contenido común a todas las vistas -->
<div class="form-container">
  <!-- Vista de crear empleados -->
  <div class="row">
    <div class="col-md-8"> <!-- Cambiado a 8 columnas -->
      <div class="card mb-4">
        <div class="card-body">
          <div class="card-title mb-3">Formulario de Categorías</div>
          <form [formGroup]="categoryForm" (ngSubmit)="submitCategory()">
            
              <div class="col-md-6 form-group mb-3">
                <label for="name_category">Nombre de Categoría<span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="name_category" placeholder="Nombre de empleado" formControlName="name_category" required>
                <div *ngIf="categoryForm.get('name_category').touched && categoryForm.get('name_category').hasError('required')"class="error-message">
                  El campo nombre es obligatorio.
              </div>
              <div *ngIf="categoryForm.get('name_category').hasError('pattern')"class="error-message">
                  El campo nombre no puede tener tener numeros ni simbolos.
              </div>
              
              <div *ngIf="categoryForm.get('name_category').hasError('maxlength')"class="error-message">
                  El campo nombre no puede superar los 80 caracteres.
              </div>

              <div *ngIf="viewMode === 'new'">
                <div *ngIf="categoryExists" class="error-message">El nombre de categoría ya existe.</div>
              </div>
              
              </div>

              <div *ngIf="viewMode == 'print'" class="col-md-6 form-group mb-3">
                <label for="state_category">Estado<span class="text-danger">*</span></label>
                <input class="form-control" id="state_category" placeholder="Fecha de Creacion" formControlName="state_category">
                <!-- Resto del código para el campo de estado -->
              </div>

              <div class="col-md-6 form-group mb-3">
                <label for="observation">Observación</label>
                <textarea class="form-control" id="observation_category" placeholder="Observación" formControlName="observation_category"></textarea>
                <div *ngIf="categoryForm.get('observation_category').hasError('maxlength')"class="error-message">
                  El campo Observación no puede superar los 100 caracteres.
              </div>
              </div>

              <div class="form-group text-right" style="text-align: right;">
                <button type="button" class="btn btn-danger ml-2" (click)="cancel()">Cancelar</button>
                <btn-loading *ngIf="viewMode !== 'print'" btnClass="btn btn-primary m-1 custom-button" [loading]="loading">
                  {{viewMode == 'new' ? 'Registrar Categoría' : 'Editar Categoría'}}
                </btn-loading>
              </div>
            
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
