<div class="breadcrumb">
  <h1 *ngIf="viewMode === 'new'">Registrar Categoría</h1>
  <h1 *ngIf="viewMode === 'edit'">Editar Categoría</h1>
  <h1 *ngIf="viewMode === 'print'">Ver Detalle de Categoría</h1>
  <ul>
    <li><a [routerLink]="['/categories']">Compras</a></li>
    <li *ngIf="viewMode === 'new'">Registrar Categoría</li>
    <li *ngIf="viewMode === 'edit'">Editar Categoría</li>
    <li *ngIf="viewMode === 'print'">Ver Detalle de Categoría</li>
    
  </ul>
</div>
<div class="separator-breadcrumb border-top"></div>
<div class="form-container">
  <br>
  <br>
  <div class="d-sm-flex mb-5" *ngIf="viewMode !== 'edit'">
    <span class="m-auto"></span>
    <button class="btn btn-outline-secondary me-3 mb-sm-0 mb-3" routerLink="/catego">Back To Invoices</button>
    <button class="btn btn-outline-secondary me-3 mb-sm-0 mb-3" (click)="viewMode = 'edit'">Edit Invoice</button>
    <button class="btn btn-primary mb-sm-0 mb-3" (click)="print()">Print Invoice</button>
</div>
 
  <!--VISTA DE IMPRIMIR --->

  <div id="print-area" *ngIf="viewMode !== 'edit'">
    <form [formGroup]="categoryForm">

      <div class="row">
        <div class="col-md-6 form-group mb-3">
          <label for="name_category">Nombre de categoría</label>
          <input type="text" class="form-control" id="name_category" name="name_category" formControlName="name_category" [disabled]="true">
        </div>
        <div class="col-md-6 form-group mb-3">
          <label for="observation_category">Observación</label>
          <textarea class="form-control" id="observation_category" formControlName="observation_category" [disabled]="true"></textarea>
        </div>
        <div class="col-md-6 form-group mb-3">
          <label for="state_category">Estado de Categoría</label>
          <select class="form-control" id="state_category" name="state_category" formControlName="state_category" [disabled]="true">
            <option value="Activo">Activo</option>
            <option value="Inactivo">Inactivo</option>
          </select>
        </div>
        <div class="col-md-6 form-group mb-3">
          <label for="creation_date_category">Fecha de Creación</label>
          <input type="text" class="form-control" id="creation_date_category" formControlName="creation_date_category" [disabled]="true">
        </div>
        <div class="form-group text-right" style="text-align: right;">
          <button type="button" class="btn btn-danger ml-2" (click)="cancel()">Cancelar</button>
          
        </div>
      </div>
    </form>
    

   <!-- FIN VISTA DE IMPRIMIR --->




  <!--VISTA DE CREAR CATEGORIAS --->
  <div *ngIf="viewMode == 'new'">
  <form [formGroup]="categoryForm" (ngSubmit)="createCategory()">
    <div class="row">

      <div class="col-md-6 form-group mb-3">
        <label for="name_category">Nombre de categoría<span class="required">*</span></label>
        <input type="text" class="form-control" id="name_category" name="name_category" formControlName="name_category" placeholder="Nombre de categoría">
        
        <div *ngIf="categoryForm.get('name_category').touched && categoryForm.get('name_category').hasError('required')" class="error-message">
          El campo es requerido
        </div>
        <div *ngIf="categoryForm.get('name_category').touched && categoryForm.get('name_category').hasError('maxLength(80)')" class="error-message">
          El solo acepta 80 caracteres.
        </div>
        
        <div *ngIf="categoryForm.get('name_category').touched && categoryForm.get('name_category').hasError('pattern')" class="error-message">
          El campo solo acepta letras.
        </div>

        <div *ngIf="categoryExists" class="text danger">El nombre de categoría ya existe.</div>
      </div>
      <div class="col-md-6 form-group mb-3">
        <label for="observation_category">Observación</label>
        <textarea class="form-control" id="observation_category" formControlName="observation_category" placeholder="Observación"></textarea>

        <div *ngIf="categoryForm.get('observation_category').hasError('maxLength')" class="error-message">
          La Observación solo acepta 100 caracteres.
        </div>
      </div>
    </div>

    <div class="form-group text-right" style="text-align: right;">
      <button type="button" class="btn btn-danger ml-2" (click)="cancel()">Cancelar</button>
      <btn-loading type="submit" id="submit-button" btnClass="btn btn-primary m-1 custom-button" [loading]="loading">Registrar</btn-loading>
    </div>
  </form>
</div>
</div>

  <!-- FIN VISTA DE CREAR CATEGORIAS --->

  

  <!--VISTA DE CREAR EDITAR LA CATEGORIA --->

  <div *ngIf="viewMode === 'edit'">
    <form [formGroup]="categoryForm">

      <div class="row">
  
        <div class="col-md-6 form-group mb-3"  [formGroup]="category.controls['editCategory']">
          <label for="name_category">Nombre de categoría<span class="required">*</span></label>
          <input type="text" class="form-control" id="categoryForm" name="name_category" formControlName="name_category" placeholder="Nombre de categoría">
          
          <!---->
          <div *ngIf="categoryForm.get('name_category').touched && categoryForm.get('name_category').hasError('required')" class="error-message">
            El campo es requerido
          </div>
          <div *ngIf="categoryForm.get('name_category').touched && categoryForm.get('name_category').hasError('maxLength(80)')" class="error-message">
            El solo acepta 80 caracteres.
          </div>
          
          <div *ngIf="categoryForm.get('name_category').touched && categoryForm.get('name_category').hasError('pattern')" class="error-message">
            El campo solo acepta letras.
          </div>
  
          <div *ngIf="categoryExists" class="error-message">El nombre de categoría ya existe.

          </div>
        </div>
      
        <div class="col-md-6 form-group mb-3" [formGroup]="category.controls['editCategory']">

          <label for="observation_category">Observación</label>
          <textarea class="form-control" id="categoryForm" formControlName="observation_category"></textarea>
  
          <div *ngIf="categoryForm.get('observation_category').hasError('maxLength')" class="error-message">
            La Observación solo acepta 100 caracteres.
          </div>

        </div>


        <div class="col-md-6 form-group mb-3" [formGroup]="category.controls['editCategory']">
          <label for="state_category">Estado de Categoría<span class="required">*</span></label>
          <select class="form-control" id="categoryForm" name="state_category" formControlName="state_category">
            <option value="Activo">Activo</option>
            <option value="Inactivo">Inactivo</option>  
        </select>
        </div>

        <div class="col-md-6 form-group mb-3">
          <label for="picker1">Fecha de Creación</label>
          <input type="text" class="form-control" id="picker1" formControlName="creation_date_category"
           [disabled]="true" placeholder="Año-Mes-Dia"  ngbDatepicker #orderDatePicker="ngbDatepicker" >
          <div class="input-group-append">
            <button class="btn btn-secondary" (click)="orderDatePicker.toggle()" type="button">
                <i class="icon-regular i-Calendar-4"></i>
            </button>
        </div>
        
      <div class="form-group text-right" style="text-align: right;">
        <button type="button" class="btn btn-danger ml-2" (click)="cancel()">Cancelar</button>
        <btn-loading type="submit" id="submit-button" btnClass="btn btn-primary m-1 custom-button" [loading]="saving" (click)="saveInvoice()">Guardar</btn-loading>
      </div>
    </div>

  </div>
</form>
</div>