<div class="">
    <div class="breadcrumb">
        <h1>Clientes</h1>
      
        </div>
    
        <div class="separator-breadcrumb border-top"></div>
    
<div class="row mb-3">
    <div class="col-md-12 mb-3 d-flex justify-content-between align-items-center">
        <div class="col-md-4">
            <div class="form-group">
                <button class="btn btn-primary" [routerLink]="['/clients/new']">Registrar Cliente</button>
            </div>
        
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <input id="category" placeholder="Buscar Cliente" name="category" [formControl]="searchControl" class="form-control"
                    type="category" (keyup)="searchCategory($event)">
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="card o-hidden">
            <div *ngIf="showLoadingScreen" class="loading-screen">
                <div class="loading-content">
                  <div class="spinner spinner-primary me-3"></div>
                </div>
              </div>
              <div  class=" table-responsive" *ngIf="showLoadingScreen == false">
                <ngx-datatable
                class="material fullscreen"
                style="height: 480px"
                [columnMode]="'force'"
                [headerHeight]="50"
                [footerHeight]="50"
                [rowHeight]="60"
                [rows]="filteredClients"
                [count]="filteredClients.length"
                [limit]="6"
                rowHeight="700px"
                [scrollbarH]="true">

                <ngx-datatable-column name="nit_or_id_client" [resizeable]="false" [canAutoResize]="true" [minWidth]="100">
                    <ng-template ngx-datatable-header-template>
                        <p style="font-size:15px;">Cédula o NIT</p>
                    </ng-template>
                    <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                        {{ row.nit_or_id_client }}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="name_client" [resizeable]="false" [canAutoResize]="true" [minWidth]="200">
                    <ng-template ngx-datatable-header-template>
                        <p style="font-size:15px;">Nombre Completo</p>
                    </ng-template>
                    <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                        <div style="white-space: pre-line;">
                            {{ row.name_client }} {{ row.last_name_client}}
                        </div>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="email_client" [resizeable]="false" [canAutoResize]="true" [minWidth]="180">
                    <ng-template ngx-datatable-header-template>
                        <p style="font-size:15px;">Correo</p>
                    </ng-template>
                    <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                        {{ row.email_client }}
                    </ng-template>
                </ngx-datatable-column>
               
                <ngx-datatable-column name="state_client"  [resizeable]="false" [canAutoResize]="true" [minWidth]="20">
                    <ng-template ngx-datatable-header-template>
                        <p style="font-size:15px;">Estado</p>
                    </ng-template>
                    <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                        {{ row.state_client}}
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="actions" [resizeable]="false" [canAutoResize]="true" [minWidth]="50">
                    <ng-template ngx-datatable-header-template>
                        <p style="font-size:15px;">Acciones</p>
                    </ng-template>
                    <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                        <button ngbTooltip="Ver Detalle" class="btn btn-dark m-1 btn-sm" [routerLink]="['/clients/print', row.id_client]">
                            <i class="i-Eye"></i>
                        </button>
                        <button ngbTooltip="Modificar" class="btn btn-info m-1 btn-sm" [routerLink]="['/clients/edit', row.id_client]" [disabled]="row.state_client == 'Inactivo'">
                            <i class="i-Pen-4"></i>
                        </button>
                        <label bTooltip="Cambiar estado" class="switch switch-success btn-sm" (change)="handleChange($event, row)" (click)="openModal(row.id_client)">
                            <input type="checkbox" [checked]="row.state_client === 'Activo'">
                            <span class="slider"></span>
                        </label>
                    </ng-template>
                </ngx-datatable-column>
                </ngx-datatable>
            </div>
            </div>
        </div>
    </div>
</div>



<ng-template #deleteConfirmModal let-modal>
    <div class="modal-header" [closable]="false">
      <h4 class="modal-title" id="modal-title">Cambiar estado del cliente</h4>
    </div>
    <div class="modal-body">
      <p>
        <strong
          >¿Está seguro de que desea cambiar el estado de este cliente?</strong
        >
      </p>
      <label for="reasonAnulate">Razón de cambio de estado:</label>
      <textarea
        id="reasonAnulate"
        class="form-control"
        placeholder="Ingrese la razón de cambio de estado"
        [(ngModel)]="reasonAnulate"
        style="resize: none"
        rows="5"
      ></textarea>
    </div>

    <div class="modal-footer">
      <button
        type="button"
        class="btn  btn-danger"
        (click)="modal.dismiss('cancel')"
      >
        Cancelar
      </button>
      <button
        type="button"
        ngbAutofocus
        class="btn btn-primary"
        (click)="modal.close('Ok')"
        [disabled]="reasonAnulate == ''"
      >
        Aceptar
      </button>
    </div>
  </ng-template>