.no-scroll-table {
    max-height: 500px; /* Ajusta la altura máxima según tus necesidades */
    overflow-y: hidden;
  }
  .breadcrumb {
    width: 100%;
    overflow: hidden; /* Evitará el desplazamiento horizontal */
    /* Otros estilos */
  }
  