.no-scroll-table {
    max-height: 500px; /* Ajusta la altura máxima según tus necesidades */
    overflow-y: hidden;
  }
  .breadcrumb {
    width: 100%;
    overflow: hidden; /* Evitará el desplazamiento horizontal */
    /* Otros estilos */
  }
  @media screen and (max-width: 767px) {
    /* Estilos para pantallas pequeñas */
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    /* Estilos para pantallas medianas */
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    /* Estilos para pantallas grandes */
}

@media screen and (min-width: 1200px) {
    /* Estilos para pantallas extra grandes */
}




