<div class="breadcrumb">
    <h1>Compras</h1>
    <ul>
        <li><a href="">Compras</a></li>
        <li>Lista de Compras</li>
    </ul>
</div>
<div class="separator-breadcrumb border-top"></div>

<div class="row mb-3">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <button class="btn btn-primary" [routerLink]="['/purchases/new']">Crear nueva Compra</button>
                </div>
            </div>
            <div class="col-md-6 text-end">
                <div class="form-group">
                    <input id="purchase" placeholder="Buscar Compra" [formControl]="searchControl" class="form-control" type="text"(keyup)="searchPurchase($event)">
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="card o-hidden">
            <ngx-datatable class="material fullscreen" 
            style="height: 460px;" 
            [columnMode]="'force'"
             [headerHeight]="50"
                [footerHeight]="50"
                 [rowHeight]="60" 
                 [scrollbarV]="true" 
                 [rows]="filteredPurchases" 
                 [externalPaging]="true"
                [count]="filteredPurchases.length"
                 [limit]="itemsPerPage" 
                 [offset]="(currentPage - 1) * itemsPerPage"
                (page)="onPageChange($event)">
                

                <ngx-datatable-column name="invoice_number" [resizeable]="false" [canAutoResize]="true" >
                    <ng-template ngx-datatable-header-template>
                        # Factura
                    </ng-template>
                    <ng-template ngx-datatable-cell-template let-row="row">
                        <ng-container *ngIf="row && row.id_purchase">
                            {{ row.invoice_number }}
                        </ng-container>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="id_provider" [resizeable]="false" [canAutoResize]="true" >
                    <ng-template ngx-datatable-header-template>
                        Proveedor
                    </ng-template>
                    <ng-template ngx-datatable-cell-template let-row="row">
                        <ng-container *ngIf="row && row.id_purchase" class="long-text">
                          
                            <div style="white-space: pre-line;">
                                {{ providers[row.id_provider] }}
                            </div>
                        </ng-container>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="purchase_date" [resizeable]="false" [canAutoResize]="true" >
                    <ng-template ngx-datatable-header-template>
                        Fecha
                    </ng-template>
                    <ng-template ngx-datatable-cell-template let-row="row">
                        {{ row.purchase_date | date: 'dd/MM/yyyy' }}
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="total_purchase" [resizeable]="false" [canAutoResize]="true" >
                    <ng-template ngx-datatable-header-template>
                        Total Factura
                    </ng-template>
                    <ng-template ngx-datatable-cell-template let-row="row">
                        {{ row.total_purchase | currency:'':'symbol':'1.0-0'}}
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="state_purchase" [resizeable]="false" [canAutoResize]="true" >
                    <ng-template ngx-datatable-header-template>
                        Estado
                    </ng-template>
                    <ng-template ngx-datatable-cell-template let-row="row">
                        {{ row.state_purchase ? 'Activo':'Anulada' }}
                    </ng-template>
                </ngx-datatable-column>

                <!-- Agrega más columnas según sea necesario para mostrar otras propiedades de los categories -->
                <ngx-datatable-column [resizeable]="false" [canAutoResize]="true" >
                    <ng-template ngx-datatable-header-template>
                        Acciones
                    </ng-template>
                    <ng-template ngx-datatable-cell-template let-row="row">
                       
                            
                        
                        <button  ngbTooltip="Ver Detalle"  class="btn btn-dark m-1" [routerLink]="['/purchases/detail', row.id_purchase]" >
                            <i class="i-Eye"></i>
                        </button>
     
                        <button  ngbTooltip="Anular"  class="btn btn-danger " name="state" (click)="modalStatus(row.id_purchase, $event)" [disabled]="!row.state_purchase" >
                            <i class="i-Close"></i> 
                        </button>
                    
                        
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
        </div>
    </div>
</div>


<ng-template #changeStatusModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-title">Anular Compra</h4>
      
    </div>
    <div class="modal-body">
        <p><strong>¿Está seguro de que desea anular esta compra?</strong></p>
        <form [formGroup]="reasonForm">
            <div class="col-md-6 form-group mb-3">
                <label for="reason_anulate">Motivo de Anulación</label>
                <textarea class="form-control" id="reason_anulate" formControlName="reason_anulate" [style.resize]="'none'"></textarea>
                <div *ngIf="reasonForm.get('reason_anulate').touched && reasonForm.get('reason_anulate').hasError('maxlength')"class="error-message">
                  El campo superar los 100 caracteres.
              </div>
              </div>
        </form>

    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary btn"
            (click)="modal.dismiss('cancel')">Cancelar</button>
        <button type="button" ngbAutofocus class="btn btn-wide btn-danger btn" [disabled]="!this.reasonForm.valid"
            (click)="modal.close('Ok')">Aceptar</button>
    </div>
</ng-template>