<div class="app-footer">
    <div class="row">
        <div class="col-md-9">
            <p><strong>CosmeTIC - Sistema getión ventas de cosméticos y productos de belleza al por mayor</strong></p>
            <p>Autores: Alejandro Cañas, Marcela Morales, Julián Carreño, Sebastián Tamayo y Mariana Granados.</p>
        </div>
    </div>
    <div class="footer-bottom border-top pt-3 d-flex flex-column flex-sm-row align-items-center">
     
        <span class="flex-grow-1"></span>
        <div class="d-flex align-items-center">
            <img class="logo" src="./assets/images/logo.png" alt="Logo de CosmeTIC">
            <div>
                <p class="m-0">&copy; 2023 CosmeTIC</p>
                <p class="m-0">Todos los derechos reservados</p>
            </div>
        </div>
    </div>
</div>
