<div class="app-footer">
    <div class="row">
        <div class="col-md-9">
            <p><strong>CosmeTIC - Sistema de Ventas de Cosméticos y Productos de Belleza al por Mayor</strong></p>
            <p>Tu solución integral para la gestión eficiente de compras y ventas de productos de belleza. ¡Potenciando tu negocio!</p>
        </div>
    </div>
    <div class="footer-bottom border-top pt-3 d-flex flex-column flex-sm-row align-items-center">
        <a class="btn btn-warning btn-rounded mb-3 mb-sm-0"
            href="https://tu-enlace-de-feedback.com"
            target="_blank">Soporte</a>
        <span class="flex-grow-1"></span>
        <div class="d-flex align-items-center">
            <img class="logo" src="./assets/images/logo.png" alt="Logo de CosmeTIC">
            <div>
                <p class="m-0">&copy; 2023 CosmeTIC</p>
                <p class="m-0">Todos los derechos reservados</p>
            </div>
        </div>
    </div>
</div>
