<div class="breadcrumb">
    <h1 *ngIf="viewMode === 'new'">Registrar Proveedor</h1>
    <h1 *ngIf="viewMode === 'edit'">Modificar Proveedor</h1>
    <h1 *ngIf="viewMode === 'print'">Ver Detalle de Proveedor</h1>
</div>

<div *ngIf="
    showLoadingScreen && (viewMode == 'edit' || viewMode == 'print')" class="loading-screen">

    <div class="loading-content">
        <div class="spinner spinner-primary me-3"></div>
    </div>
</div>

<div *ngIf="showLoadingScreen == false || viewMode == 'new'">
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <div class="card-body">

                    <form [formGroup]="formBasic" (ngSubmit)="submit()">
                        <div class="row">
                            <div class="col-md-6 form-group mb-3">
                                <label for="nit_cedula">Cédula o NIT del proveedor<span *ngIf="viewMode === 'new'"
                                        class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="nit_cedula" formControlName="nit_cedula"
                                    (change)="handleNitSelection($event)" [value]="provider?.nit_cedula"
                                    [placeholder]="provider?.nit_cedula" [readonly]="viewMode === 'print'"
                                    [ngClass]="{'placeholder-black': viewMode === 'print'}">
                                <div *ngIf="viewMode === 'new' && formBasic.get('nit_cedula').invalid && (formBasic.get('nit_cedula').dirty || formBasic.get('nit_cedula').touched)"
                                    class="text-danger">
                                    <div *ngIf="formBasic.get('nit_cedula').hasError('required')">La cédula o NIT es
                                        obligatoria.</div>
                                    <div *ngIf="formBasic.get('nit_cedula').hasError('minlength')">La cédula o NIT no
                                        puede
                                        ser menor de 7 caracteres.</div>
                                    <div *ngIf="formBasic.get('nit_cedula').hasError('maxlength')">La cédula o NIT no
                                        puede
                                        ser mayor de 10 caracteres.</div>
                                    <div *ngIf="formBasic.get('nit_cedula').hasError('pattern')">Solo se admiten números
                                        en
                                        la cédula o NIT.</div>
                                    <div *ngIf="formBasic.get('nit_cedula').hasError('cedulaNotAvailable')">La cédula ya
                                        está en uso.</div>
                                </div>
                                <div *ngIf="viewMode === 'edit' && formBasic.get('nit_cedula').invalid && (formBasic.get('nit_cedula').dirty || formBasic.get('nit_cedula').touched)"
                                    class="text-danger">
                                    <div *ngIf="formBasic.get('nit_cedula').hasError('minlength')">La cédula o NIT no
                                        puede
                                        ser menor de 7 caracteres.</div>
                                    <div *ngIf="formBasic.get('nit_cedula').hasError('maxlength')">La cédula o NIT no
                                        puede
                                        ser mayor de 10 caracteres.</div>
                                    <div *ngIf="formBasic.get('nit_cedula').hasError('pattern')">Solo se admiten números
                                        en
                                        la cédula o NIT.</div>
                                    <div *ngIf="formBasic.get('nit_cedula').hasError('cedulaNotAvailable')">La cédula ya
                                        está en uso.</div>
                                </div>
                            </div>
                            <div class="col-md-6 form-group mb-3">
                                <label for="name_provider">Nombre del proveedor<span *ngIf="viewMode === 'new'"
                                        class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="name_provider"
                                    formControlName="name_provider" (change)="handleNameProviderSelection($event)"
                                    [placeholder]="provider?.name_provider " [readonly]="viewMode === 'print'"
                                    [value]="provider?.name_provider"
                                    [ngClass]="{'placeholder-black': viewMode === 'print'}">
                                <div *ngIf="viewMode === 'new' && formBasic.get('name_provider').invalid && (formBasic.get('name_provider').dirty || formBasic.get('name_provider').touched)"
                                    class="text-danger">
                                    <div *ngIf="formBasic.get('name_provider').hasError('required')">El nombre del
                                        proveedor
                                        es obligatorio.</div>
                                    <div *ngIf="formBasic.get('name_provider').hasError('minlength')">El nombre del
                                        proveedor debe ser
                                        mayor de 5 caracteres.</div>
                                    <div *ngIf="formBasic.get('name_provider').hasError('maxlength')">El nombre del
                                        proveedor no puede
                                        superar los 50 caracteres.</div>
                                    <div *ngIf="formBasic.get('name_provider').hasError('pattern')">El nombre solo puede
                                        tener caracteres alfabéticos, números, espacios y los símbolos: ., ', -, & y !
                                    </div>
                                </div>
                                <div *ngIf="viewMode === 'edit' && formBasic.get('name_provider').invalid && (formBasic.get('name_provider').dirty || formBasic.get('name_provider').touched)"
                                    class="text-danger">
                                    <div *ngIf="formBasic.get('name_provider').hasError('minlength')">El nombre del
                                        proveedor debe ser
                                        mayor de 5 caracteres.</div>
                                    <div *ngIf="formBasic.get('name_provider').hasError('maxlength')">El nombre del
                                        proveedor no puede
                                        superar los 50 caracteres.</div>
                                    <div *ngIf="formBasic.get('name_provider').hasError('pattern')">El nombre solo puede
                                        tener caracteres alfabéticos, números, espacios y los símbolos: ., ', -, & y !
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 form-group mb-3">
                                <label for="email_provider">Correo del proveedor<span *ngIf="viewMode === 'new'"
                                        class="text-danger">*</span></label>
                                <input type="email" class="form-control" id="email_provider"
                                    (change)="handleMailSelection($event)" formControlName="email_provider"
                                    [placeholder]="provider?.email_provider" [readonly]="viewMode === 'print'"
                                    [value]="provider?.email_provider"
                                    [ngClass]="{'placeholder-black': viewMode === 'print'}">

                                <div *ngIf="viewMode === 'new' && formBasic.get('email_provider').touched">
                                    <div *ngIf="formBasic.get('email_provider').hasError('required')"
                                        class="text-danger">
                                        El campo correo es obligatorio.
                                    </div>
                                    <div *ngIf="formBasic.get('email_provider').hasError('email')" class="text-danger">
                                        El campo correo debe estar en un formato de correo electrónico válido.
                                    </div>
                                    <div *ngIf="formBasic.get('email_provider').hasError('maxlength')"
                                        class="text-danger">
                                        El campo correo no puede superar los 80 caracteres.
                                    </div>
                                </div>
                                <div *ngIf="viewMode === 'edit' && formBasic.get('email_provider').touched">
                                    <div *ngIf="formBasic.get('email_provider').hasError('email')" class="text-danger">
                                        El campo correo debe estar en un formato de correo electrónico válido.
                                    </div>
                                    <div *ngIf="formBasic.get('email_provider').hasError('maxlength')"
                                        class="text-danger">
                                        El campo correo no puede superar los 80 caracteres.
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-6 form-group mb-3">
                                <label for="address_provider">Dirección del proveedor<span *ngIf="viewMode === 'new'"
                                        class="text-danger">*</span></label>
                                <input class="form-control" id="address_provider"
                                    (change)="handleAddressSelection($event)" formControlName="address_provider"
                                    [placeholder]="provider?.address_provider" [readonly]="viewMode === 'print'"
                                    [value]="provider?.address_provider"
                                    [ngClass]="{'placeholder-black': viewMode === 'print'}">

                                <div *ngIf="viewMode === 'new' && formBasic.get('address_provider').touched && formBasic.get('address_provider').hasError('required')"
                                    class="text-danger">
                                    El campo dirección es obligatorio.
                                </div>
                                <div *ngIf="formBasic.get('address_provider').hasError('maxlength')"
                                    class="text-danger">
                                    El campo dirección no puede superar los 80 caracteres.
                                </div>
                                <div *ngIf="formBasic.get('address_provider').hasError('minlength')"
                                    class="text-danger">
                                    El campo dirección debe tener mas de 4 caracteres.
                                </div>

                                <div *ngIf="viewMode === 'edit' && formBasic.get('address_provider').touched && formBasic.get('address_provider').hasError('required')"
                                    class="text-danger">
                                    <div *ngIf="formBasic.get('address_provider').hasError('maxlength')"
                                        class="text-danger">
                                        El campo dirección no puede superar los 80 caracteres.
                                    </div>
                                    <div *ngIf="formBasic.get('address_provider').hasError('minlength')"
                                        class="text-danger">
                                        El campo dirección debe tener mas de 4 caracteres.
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 form-group mb-3">
                                <label for="phone_provider">Teléfono del proveedor<span *ngIf="viewMode === 'new'"
                                        class="text-danger">*</span></label>
                                <input class="form-control" id="phone_provider" (change)="handlePhoneSelection($event)"
                                    formControlName="phone_provider" [placeholder]="provider?.phone_provider"
                                    [readonly]="viewMode === 'print'" [value]="provider?.phone_provider"
                                    [ngClass]="{'placeholder-black': viewMode === 'print'}">

                                <div *ngIf="viewMode === 'new' && formBasic.get('phone_provider').touched">
                                    <div *ngIf="formBasic.get('phone_provider').hasError('required')"
                                        class="text-danger">
                                        El campo teléfono es obligatorio.
                                    </div>
                                    <div *ngIf="formBasic.get('phone_provider').hasError('maxlength')"
                                        class="text-danger">
                                        El campo teléfono no puede superar los 10 caracteres.
                                    </div>
                                    <div *ngIf="formBasic.get('phone_provider').hasError('minlength')"
                                        class="text-danger">
                                        El campo teléfono debe tener al menos 7 caracteres.
                                    </div>
                                    <div *ngIf="formBasic.get('phone_provider').hasError('pattern')"
                                        class="text-danger">
                                        El campo teléfono debe estar en el formato correcto.
                                    </div>
                                </div>
                                <div *ngIf="viewMode === 'edit' && formBasic.get('phone_provider').touched">
                                    <div *ngIf="formBasic.get('phone_provider').hasError('maxlength')"
                                        class="text-danger">
                                        El campo teléfono no puede superar los 10 caracteres.
                                    </div>
                                    <div *ngIf="formBasic.get('phone_provider').hasError('minlength')"
                                        class="text-danger">
                                        El campo teléfono debe tener al menos 7 caracteres.
                                    </div>
                                    <div *ngIf="formBasic.get('phone_provider').hasError('pattern')"
                                        class="text-danger">
                                        El campo teléfono debe estar en el formato correcto.
                                    </div>
                                </div>
                            </div>




                            <div class="col-md-6 form-group mb-3" *ngIf="viewMode !== 'new' && viewMode !== 'edit'">
                                <label for="creation_date_provider">Fecha de creación</label>
                                <input type="date" class="form-control" id="creation_date_provider"
                                    [placeholder]="viewMode === 'print' ? 'Fecha de creación' : ''"
                                    [readonly]="viewMode === 'print' || viewMode === 'edit'"
                                    [ngClass]="{'gray-text': viewMode === 'edit'}"
                                    [value]="provider?.creation_date_provider | date:'yyyy-MM-dd'">
                            </div>

                            <div class="col-md-6 form-group mb-3">
                                <label for="name_contact">Nombre del contacto<span *ngIf="viewMode === 'new'"
                                        class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="name_contact"
                                    (change)="handleNameContactSelection($event)" formControlName="name_contact"
                                    [placeholder]="provider?.name_contact" [readonly]="viewMode === 'print'"
                                    [value]="provider?.name_contact"
                                    [ngClass]="{'placeholder-black': viewMode === 'print'}">

                                <div *ngIf="viewMode === 'new' && formBasic.get('name_contact').touched">
                                    <div *ngIf="formBasic.get('name_contact').hasError('required')" class="text-danger">
                                        El nombre del contacto es obligatorio.
                                    </div>
                                    <div *ngIf="formBasic.get('name_contact').hasError('pattern')" class="text-danger">
                                        El nombre del contacto debe contener solo letras y espacios.
                                    </div>
                                    <div *ngIf="formBasic.get('name_contact').hasError('minlength')"
                                        class="text-danger">
                                        El nombre del contacto debe tener al menos 3 caracteres.
                                    </div>
                                    <div *ngIf="formBasic.get('name_contact').hasError('maxlength')"
                                        class="text-danger">
                                        El nombre del contacto no puede superar los 50 caracteres.
                                    </div>
                                </div>
                                <div *ngIf="viewMode === 'edit' && formBasic.get('name_contact').touched">
                                    <div *ngIf="formBasic.get('name_contact').hasError('pattern')" class="text-danger">
                                        El nombre del contacto debe contener solo letras y espacios.
                                    </div>
                                    <div *ngIf="formBasic.get('name_contact').hasError('minlength')"
                                        class="text-danger">
                                        El nombre del contacto debe tener al menos 3 caracteres.
                                    </div>
                                    <div *ngIf="formBasic.get('name_contact').hasError('maxlength')"
                                        class="text-danger">
                                        El nombre del contacto no puede superar los 50 caracteres.
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 form-group mb-3" *ngIf="viewMode !== 'new' && viewMode !== 'edit'">
                                <label for="state_provider">Estado del proveedor</label>
                                <ng-container *ngIf="viewMode === 'edit'; else viewModeDisplay">
                                    <select class="form-control" id="state_provider"
                                        (change)="handleStateSelection($event)">
                                        <option value="Activo">Activo</option>
                                        <option value="Inactivo">Inactivo</option>
                                    </select>
                                </ng-container>
                                <ng-template #viewModeDisplay>
                                    <input type="text" class="form-control" id="state_provider"
                                        [placeholder]="provider?.state_provider" [readonly]="viewMode === 'print'"
                                        [ngClass]="{'placeholder-black': viewMode === 'print'}">
                                </ng-template>
                            </div>

                            <div class="col-md-6 form-group mb-3" *ngIf="viewMode === 'print'">
                                <label for="reason_anulate">Razón de cambio de estado</label>
                                <textarea class="form-control" id="reason_anulate"
                                    [placeholder]="provider?.reason_anulate" [readonly]="viewMode === 'print'"
                                    [ngClass]="{'placeholder-black': viewMode === 'print'}" style="resize: none;"
                                    rows="6"></textarea>
                            </div>

                            <div *ngIf="viewMode !== 'print'">
                                <div class="col-md-12 form-group mb-3">
                                    <label for="observation_provider">Observación del proveedor</label>
                                    <textarea class="form-control" id="observation_provider"
                                        (change)="handleObservationSelection($event)"
                                        [placeholder]="provider?.observation_provider" [readonly]="viewMode === 'print'"
                                        [value]="provider?.observation_provider" formControlName="observation_provider"
                                        [ngClass]="{'placeholder-black': viewMode === 'print'}" style="resize: none;"
                                        rows="6"></textarea>
                                    <div
                                        *ngIf="(viewMode === 'edit' || viewMode === 'new') && formBasic.get('observation_provider').touched">
                                        <div *ngIf="formBasic.get('observation_provider').hasError('maxlength')"
                                            class="text-danger">
                                            {{ observationError }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 form-group mb-3" *ngIf="viewMode === 'print'">
                                <label for="observation_provider">Observación del proveedor</label>
                                <textarea class="form-control" id="observation_provider"
                                    (change)="handleObservationSelection($event)"
                                    [placeholder]="provider?.observation_provider" [readonly]="viewMode === 'print'"
                                    [ngClass]="{'placeholder-black': viewMode === 'print'}" style="resize: none;"
                                    rows="6"></textarea>
                            </div>
                            <div class="col-md-12">
                                <div class="d-flex justify-content-end align-items-center">
                                    <div class="d-flex">
                                        <button *ngIf="viewMode === 'new' || viewMode === 'edit'" class="btn btn-danger"
                                            [routerLink]="['/proveedores'] ">Cancelar</button>
                                        <button *ngIf="viewMode === 'print'" class="btn btn-danger"
                                            [routerLink]="['/proveedores'] ">Volver</button>
                                        <div style="width: 10px;"></div>
                                        <btn-loading *ngIf="viewMode === 'new'" btnClass="btn-primary"
                                            [loading]="loading">
                                            Registrar Proveedor
                                        </btn-loading>
                                        <btn-loading *ngIf="viewMode === 'edit'" btnClass="btn-primary"
                                            [loading]="loading">
                                            Modificar Proveedor
                                        </btn-loading>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>