<div class="breadcrumb">
    <h1>Form Layouts</h1>
    <ul>
        <li><a href="">Forms</a></li>
       
    </ul>
</div>

<div class="separator-breadcrumb border-top"></div>

<div class="border-top mb-5"></div>
<div class="row">
    <div class="col-md-6">
        <h4>Verticle Layout</h4>
        <p>A form control layout using flex to create verticle alignment.</p>
        <div class="card mb-5">
            <div class="card-body">
                <div class="d-flex flex-column">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Enter your username">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Enter your password">
                    </div>
                    <button class="btn btn-primary pd-x-20">Sign In</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="border-top mb-5"></div>

<div class="border-top mb-5"></div>

