<div class="breadcrumb">
    <h1>CosmeTic</h1>
    <ul>
        <li><a href="">Servicios</a></li>
        <li>Comisiones</li>
    </ul>
</div>

<div class="separator-breadcrumb border-top"></div>

<div class="row mb-3">
    <div class="col-md-12 mb-3">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <button class="btn btn-primary float-right" [routerLink]="['/comisiones/registrar']">Crear nueva
                            comisión</button>
                    </div>
                    <div class="col-md-5">
                        <button class="btn btn-primary float-right" (click) = "openModal()">Asignar porcentaje de comisión</button>
                    </div>
                    <div class="col-md-3">
                        <select class="form-select" [(ngModel)]="selectedMonth"  (change)="filterByMonth()">
                            <option *ngFor="let month of months" [value]="month.value">{{ month.label }}</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-md-6 d-flex justify-content-end">
                <input [formControl]="searchControl" placeholder="Buscar Comisiones por Empleado" type="text" class="form-control"
                    style="width: 50%;">
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card o-hidden">
            <div class="col-md-12">
                <div class="card o-hidden">
                    <ngx-datatable class="material fullscreen" style="height: 460px;" [columnMode]="'force'"
                        [headerHeight]="50" [footerHeight]="50" [rowHeight]="60" [scrollbarV]="true"
                        [rows]="listComissions" [externalPaging]="true" [count]="listComissions.length"
                        [limit]="itemsPerPage" [offset]="(currentPage - 1) * itemsPerPage"
                        (page)="onPageChange($event)">
                        <ngx-datatable-column name="id_employee">
                            <ng-template ngx-datatable-header-template>
                                Empleado
                            </ng-template>
                            <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                                {{ employees[row.id_employee] }}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="total_commission">
                            <ng-template ngx-datatable-header-template>
                                Total Comisión
                            </ng-template>
                            <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                                {{ row.total_commission }}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="total_sales">
                            <ng-template ngx-datatable-header-template>
                                Total Ventas
                            </ng-template>
                            <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                                {{ row.total_sales }}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="month_commission">
                            <ng-template ngx-datatable-header-template>
                                Mes Comisión
                            </ng-template>
                            <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                                {{ row.month_commission | date: 'yyyy-MM'}}
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column name="commission_percentage">
                            <ng-template ngx-datatable-header-template>
                                Porcentaje Comisión
                            </ng-template>
                            <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                                {{ row.commission_percentage }}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column [width]="120">
                            <ng-template ngx-datatable-header-template>
                                Acciones
                            </ng-template>
                            <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                                <button class="btn btn-dark m-1 me-3"
                                    [routerLink]="['/comisiones/detalle', row.id_commission]">
                                    <i class="i-Eye"></i>
                                </button>
                            </ng-template>
                        </ngx-datatable-column>
                    </ngx-datatable>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Agrega los controles de paginación justo debajo de la tabla -->
<pagination-template (pageChange)="pageChanged($event)" [id]="paginationId"></pagination-template>

<ng-template #createModal let-modal>
    <div class="modal-header">
      <h4 class="Cambiar estado" id="modal-title">Asignar porcentaje mensual para el año {{currentYear}}</h4>
    </div>
    <div class="modal-body">
        <form [formGroup]="formBasic" (ngSubmit)="submit()">
            <div class="row">
                <div class="col-md-5 form-group mb-3">
                    <label for="commission_percentage">Porcentaje de comisión</label>

                    <select class="form-control" id="commission_percentage"
                        (change)="handlePerccentageSelection($event)">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                </div>


                <div class="col-md-5 form-group mb-3">
                    <label for="month_commission">Mes comisión</label>
                    <select class="form-control" id="commission_percentage" (change)="handleMonth($event)">
                        <option value="1">Enero</option>
                        <option value="2">Febrero</option>
                        <option value="3">Marzo</option>
                        <option value="4">Abril</option>
                        <option value="5">Mayo</option>
                        <option value="6">Junio</option>
                        <option value="7">Julio</option>
                        <option value="8">Agosto</option>
                        <option value="9">Septiembre</option>
                        <option value="10">Octubre</option>
                        <option value="11">Noviembre</option>
                        <option value="12">Diciembre</option>
                    </select>
                </div>
                <div class="col-md-12">
                    
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary btn-rounded"
          (click)="modal.dismiss('cancel')">Cancelar</button>
      <button type="button" ngbAutofocus class="btn btn-wide btn-primary btn-rounded"
          (click)="modal.close('Yes')" >Asignar</button>
    </div>
  </ng-template>
