.datatable-pager {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .datatable-pager .pager-previous, .datatable-pager .pager-next {
    display: none; /* Oculta los botones "previous" y "next" */
  }
  
  .datatable-pager .pager-current {
    margin: 0 10px;
  }