<div class="">
    <div class="breadcrumb">
        <h1>Listar Productos</h1>
        <ul>
            <li><a href="#">Compras</a></li>
            <li>Productos</li>
        </ul>
        </div>
    
        <div class="separator-breadcrumb border-top"></div>

        <div class="row mb-3">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <button class="btn btn-primary float-right" [routerLink]="['/products/new']">Crear nuevo Producto</button>
                        </div>
                    </div>
                    <div class="col-md-6 text-end">
                        <div class="form-group">
                            <input id="search" placeholder="Buscar Productos" [formControl]="searchControl" class="form-control" type="text">
                        </div>
                    </div>
                </div>
        <div class="col-md-12">
            <div class="card o-hidden">
                <ngx-datatable style="height: 460px;" class="material fullscreen" [columnMode]="'force'" [headerHeight]="50"
                [footerHeight]="50" [rowHeight]="60" [scrollbarV]="true"[rows]="filteredProducts">

                <ngx-datatable-column name="id_category" [resizeable]="false" [canAutoResize]="true" [minWidth]="100">
                    <ng-template ngx-datatable-header-template>
                        Categoria
                    </ng-template>
                    <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                        {{ row.id_category }}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="name_product" [resizeable]="false" [canAutoResize]="true" [minWidth]="200">
                    <ng-template ngx-datatable-header-template>
                        Nombre
                    </ng-template>
                    <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                        {{ row.name_product }}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="cost_price" [resizeable]="false" [canAutoResize]="true" [minWidth]="180">
                    <ng-template ngx-datatable-header-template>
                        Precio de costo
                    </ng-template>
                    <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                        {{ row.cost_price }}
                    </ng-template>
                </ngx-datatable-column>
                
                <ngx-datatable-column name="state_product"  [resizeable]="false" [canAutoResize]="true" [minWidth]="20">
                    <ng-template ngx-datatable-header-template>
                        Estado
                    </ng-template>
                    <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                        {{ row.state_product }}
                    </ng-template>
                </ngx-datatable-column>
                
                <!-- Puedes agregar más columnas según tus necesidades -->
                <ngx-datatable-column name="actions" [resizeable]="false" [canAutoResize]="true" [minWidth]="50">
                    <ng-template ngx-datatable-header-template>
                        Acciones
                    </ng-template>
                    <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                        <button class="btn btn-dark m-1" [routerLink]="['/products/print', row.id_product]">
                            <i class="i-Eye"></i>
                        </button>
                        <button class="btn btn-info m-1" [routerLink]="['/products/edit', row.id_product]">
                            <i class="i-Pen-4"></i>
                        </button>
                        <label class="switch switch-success me-3" (click)="openModal(row.id_product)">
                            <input type="checkbox" [checked]="row.products === 'Activo'">
                            <span class="slider"></span>
                        </label>
                    </ng-template>
                </ngx-datatable-column>
                </ngx-datatable>
            </div>
        </div>
    </div>
</div>

<ng-template #deleteConfirmModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-title">Cambiar Estado Producto</h4>
        <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title"
            (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p><strong>¿Está seguro de que desea inhabilitar este Producto?</strong></p>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary btn-rounded"
            (click)="modal.dismiss('cancel')">Cancelar</button>
        <button type="button" ngbAutofocus class="btn btn-wide btn-danger btn-rounded"
            (click)="modal.close('Ok')">Aceptar</button>
    </div>
</ng-template>