.no-scroll-table {
  max-height: 500px; /* Ajusta la altura máxima según tus necesidades */
  overflow-y: hidden;
}

/* Otras clases de estilo */
.o-hidden {
  overflow: auto;
}

.fixed-width-cell {
  width: 100px;
}


.low-stock {
  color: red; /* Cambia el color del texto a rojo */
}



.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Establece el contenedor para ocupar al menos el 100% del alto de la ventana */
}

.ngx-datatable {
  flex: 1; /* Hace que ngx-datatable ocupe el espacio disponible en el contenedor */
}

.footer {
  flex-shrink: 0; /* Evita que el pie de página se contraiga */
  padding: 10px; /* Ajusta el espacio alrededor del pie de página según sea necesario */
  background-color: #f0f0f0; /* Ajusta el color de fondo según sea necesario */
  text-align: center; /* Alinea el contenido del pie de página en el centro */
}



@media (max-width: 575.98px) {
  .table-responsive {
    overflow-x: auto;
  }
 }

 @media (min-width: 576px) and (max-width: 767.98px) {
  .table-responsive {
    overflow-x: auto;
  }
  }

@media (max-width: 767px) {
  .table-responsive {
    overflow-x: auto;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .table-responsive {
    overflow-x: auto;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .table-responsive {
    overflow-x: auto;
  }
 }

@media (min-width: 768px) and (max-width: 991.98px) { 
  .table-responsive {
    overflow-x: auto;
  }
}

@media (min-width: 1200px) { 
  .table-responsive {
    overflow-x: auto;
  }
}
@media (min-width: 430px) and (max-width: 932px) {
  .table-responsive {
    overflow-x: auto;
  }
}

@media (min-width: 932px) and (max-width: 430px) {
  .table-responsive {
    overflow-x: auto;
  }
}

@media (min-width: 896px) and (max-width: 414px) {
  .table-responsive {
    overflow-x: auto;
  }
}

@media (min-width: 844px) and (max-width: 390px) {
  .table-responsive {
    overflow-x: auto;
  }
}

@media (min-width: 915px) and (max-width: 412px) {
  .table-responsive {
    overflow-x: auto;
  }
}

@media (min-width: 914px) and (max-width: 412px) {
  .table-responsive {
    overflow-x: auto;
  }
}

.table-responsive {
  max-width: 308% !important;
  overflow-x: overlay !important;
}


.table-responsive {
  height: 480px;
  width: 100;
  overflow-x: overlay;
}
