<div class="breadcrumb">
    <h1 *ngIf="viewMode === 'new'">Registrar Empleado</h1>
    <h1 *ngIf="viewMode === 'edit'">Modificar Empleado</h1>
    <h1 *ngIf="viewMode === 'print'">Ver Detalle de Empleado</h1>
</div>


<div class="separator-breadcrumb border-top"></div>

<div *ngIf="showLoadingScreen && (viewMode == 'edit' || viewMode == 'print')" class="loading-screen">
    <div class="loading-content">
      <div class="spinner spinner-primary me-3"></div>
    </div>
  </div>
  <div *ngIf="showLoadingScreen == false || viewMode == 'new'">


<!-- Contenido común a todas las vistas -->
<div class="form-container">
<!-- Vista de crear empleados -->
<div class="row">
<div class="col-md-12">
    <div class="card mb-4">
        <div class="card-body">
            <form [formGroup]="employeeForm" (ngSubmit)="submitEmployee()">
                <div class="row">
                        <div class="col-md-3 form-group mb-3">
                            <label for="id_card_employee">Cédula de empleado<span class="text-danger">*</span></label>
                            <input type="text" class="form-control  " id="id_card_employee"  formControlName="id_card_employee" (change)="checkCedulaAvailability()" >
                            <div *ngIf="employeeForm.get('id_card_employee').touched && employeeForm.get('id_card_employee').hasError('required')" class="error-message">
                                El campo cédula es obligatorio.
                            </div>
                            <div *ngIf="employeeForm.get('id_card_employee').hasError('minlength')" class="error-message">
                                La cédula debe contener un mínimo de 7 caracteres.
                            </div>
                            <div *ngIf="employeeForm.get('id_card_employee').hasError('maxlength')" class="error-message">
                                El campo cédula no puede superar los 10 caracteres.
                            </div>
                            <div *ngIf="employeeForm.get('id_card_employee').hasError('pattern')" class="error-message">
                                El campo cédula debe contener solo números.
                            </div>
                            <div *ngIf="employeeForm.get('id_card_employee').hasError('cedulaTaken')" class="error-message">La cédula ya está en uso.</div>
                        </div>
                    
                        <div class="col-md-3 form-group mb-3">
                            <label for="phone">Teléfono<span class="text-danger">*</span></label>
                            <input type="text" class="form-control " id="phone" formControlName="phone" required>
                            <div *ngIf="employeeForm.get('phone').touched && employeeForm.get('phone').hasError('required')" class="error-message">
                                El campo teléfono es obligatorio.
                            </div>
                            <div *ngIf="employeeForm.get('phone').hasError('maxlength')" class="error-message">
                                El campo teléfono no puede superar los 10 caracteres.
                            </div>
                            <div *ngIf="employeeForm.get('phone').hasError('pattern')" class="error-message">
                                El campo teléfono debe seguir un formato válido.
                            </div>
                        </div>
                  
                    
                     
                    <div class="col-md-3 form-group mb-3">
                        <label for="name_employee">Nombre de empleado<span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="name_employee"  formControlName="name_employee" required>
                        <div *ngIf="employeeForm.get('name_employee').touched && employeeForm.get('name_employee').hasError('required')"class="error-message">
                            El campo nombre es obligatorio.
                        </div>
                        <div *ngIf="employeeForm.get('name_employee').hasError('invalidName')"class="error-message">
                            El campo nombre no puede tener simbolos y solo puede tener 1  numero.
                        </div>
                        
                        <div *ngIf="employeeForm.get('name_employee').hasError('maxlength')"class="error-message">
                            El campo nombre no puede superar los 45 caracteres.
                        </div>
                    </div>
                    
                    
                    <div class="col-md-3 form-group mb-3">
                        <label for="email">Correo<span class="text-danger">*</span></label>
                        <input type="email" class="form-control" id="email"  formControlName="email" (change)="checkEmailAvailability">
                        <div *ngIf="employeeForm.get('email').touched && employeeForm.get('email').hasError('required')"class="error-message">
                            El campo correo es obligatorio.
                        </div>
                        <div *ngIf="employeeForm.get('email').hasError('email')"class="error-message">
                            El campo correo debe ser un formato de correo electrónico válido.
                        </div>
                        <div *ngIf="employeeForm.get('email').hasError('invalidDomain')" class="error-message">El dominio del correo no es válido.</div>
                        <div *ngIf="employeeForm.get('email').hasError('maxlength')"class="error-message">
                            El campo correo no puede superar los 30 caracteres.
                        </div>
                        <div *ngIf="employeeForm.get('email').hasError('emailTaken')"class="error-message">El correo electrónico ya está en uso.</div>

                    </div>
                    
                    <div class="col-md-3 form-group mb-3">
                        <label for="address">Dirección<span class="text-danger">*</span></label>
                        <input class="form-control " id="address"  formControlName="address" required>
                        <div *ngIf="employeeForm.get('address').touched && employeeForm.get('address').hasError('required')"class="error-message">
                            El campo dirección es obligatorio.
                        </div>
                        <div *ngIf="employeeForm.get('address').hasError('maxlength')"class="error-message">
                            El campo dirección no puede superar los 50 caracteres.
                        </div>
                    </div>
                    
                    
                    <div *ngIf="viewMode == 'print'" class="col-md-3 form-group mb-3">
                        <label for="state_employee">Estado<span class="text-danger">*</span></label>
                        <input class="form-control" id="state_employee"  formControlName="state_employee">
                    </div>
                 
                  
                    <div *ngIf="viewMode == 'print'" class="col-md-3 form-group mb-3">
                        <label for="creation_date_employee">Fecha de creacion<span class="text-danger">*</span></label>
                        <input class="form-control" id="creation_date_employee"  formControlName="creation_date_employee">
                    </div>
                    

                    <div *ngIf="viewMode === 'print' && employeeForm.get('state_employee').value === 'Inactivo'" class="col-md-3 form-group mb-3">
                        <label for="reason_anulate">Razón de Anulación<span class="text-danger">*</span></label>
                        <input class="form-control" id="reason_anulate" formControlName="reason_anulate">
                    </div>
                    
                    <div class="col-md-12 form-group mb-3">
                        <label for="observation">Observación<span class="text-danger"></span></label>
                        <textarea class="form-control" id="observation"  formControlName="observation" style="resize:none" rows="5"></textarea>
                        <div *ngIf="employeeForm.get('observation').hasError('maxlength')"class="error-message">
                            El campo observación no puede superar los 100 caracteres.
                        </div>
                    </div>
                    
                    
                    <div *ngIf="viewMode == 'new' || viewMode == 'edit'" class="form-group text-right" style="text-align: right;">
                        <button  type="button" class="btn btn-danger ml-2" (click)="cancel()">Cancelar</button>
                        <btn-loading *ngIf="viewMode !== 'print'" btnClass="btn btn-primary m-1 custom-button" [loading]="loading"> {{viewMode == 'new' ? 'Registrar Empleado' : 'Modificar Empleado' }} 
                        </btn-loading>
                       
                    </div>
                    <div *ngIf="viewMode === 'print'"class="form-group text-right" style="text-align: right;">
                        <button  type="button" class="btn btn-danger ml-2" (click)="cancel()">Volver</button>
                      </div>
                </div>
            </form>
        </div>
    </div>

  </div>
</div>