.error-message {
    color: red;
}

.custom-button {
    color: #663399; /* Color personalizado que desees */
}

.small-input {
    max-width: 150px; /* Ajusta el valor según tus preferencias */
    /* Otros estilos opcionales... */
}



