<div class="breadcrumb">
  <h1>CosmeTic</h1>

</div>

<div class="separator-breadcrumb border-top"></div>

<div class="row mb-3">
  <div class="col-md-12 mb-3 d-flex justify-content-between align-items-center">
    <div class="col-md-4">
      <div class="form-group">
        <button class="btn btn-primary" [routerLink]="['/proveedores/registrar']">
          Registrar Proveedor
        </button>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <input id="category" placeholder="Buscar Proveedor" name="category" [formControl]="searchControl"
          class="form-control" type="category" (keyup)="searchProvider($event)" />
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="col-md-12">
      <div class="card o-hidden">
        <ngx-datatable class="material fullscreen" style="height: 100px" [columnMode]="'force'" [headerHeight]="50"
          [footerHeight]="50" [rowHeight]="60" [rows]="filteredProviders" [count]="filteredProviders.length" [limit]="6"
          rowHeight="700px">
          <ngx-datatable-column name="name_provider">
            <ng-template ngx-datatable-header-template>
              <p style="font-size: 15px">Nombre Proveedor</p>
            </ng-template>
            <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
              <div style="white-space: pre-line">
                {{ row.name_provider }}
              </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="phone_provider">
            <ng-template ngx-datatable-header-template>
              <p style="font-size: 15px">Teléfono</p>
            </ng-template>
            <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
              <div style="white-space: pre-line">
                {{ row.phone_provider }}
              </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="name_contact">
            <ng-template ngx-datatable-header-template>
              <p style="font-size: 15px">Nombre Contacto</p>
            </ng-template>
            <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
              <div style="white-space: pre-line">
                {{ row.name_contact }}
              </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="state_provider">
            <ng-template ngx-datatable-header-template>
              <p style="font-size: 15px">Estado</p>
            </ng-template>
            <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
              {{ row.state_provider }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column [width]="120">
            <ng-template ngx-datatable-header-template>
              <p style="font-size: 15px">Acciones</p>
            </ng-template>
            <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
              <button class="btn btn-dark m-1 me-3" ngbTooltip="Ver detalle"
                [routerLink]="['/proveedores/detalle', row.id_provider]">
                <i class="i-Eye"></i>
              </button>
              <button class="btn btn-info m-1 me-3" ngbTooltip="Editar proveedor"
                [routerLink]="['/proveedores/editar', row.id_provider]" [disabled]="row.state_provider == 'Inactivo'">
                <i class="i-Pen-4"></i>
              </button>
              <label ngbTooltip="Cambiar estado" class="switch switch-success me-3"
                (click)="openModal(row.id_provider)">
                <input type="checkbox" [checked]="
                    row.state_provider === 'Activo' ||
                    row.state_provider === 'Active'
                  " />
                <span class="slider"></span>
              </label>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </div>
  </div>

  <ng-template #changeStateModal let-modal>
    <div class="modal-header">
      <h4 class="Cambiar estado" id="modal-title">
        Cambiar Estado del Proveedor
      </h4>
    </div>
    <div class="modal-body">
      <p>
        <strong>¿Está seguro de que desea cambiar el estado de este proveedor?</strong>
      </p>
      <label for="reasonAnulate">Razón de Cambio de estado del proveedor:</label>
      <textarea id="reasonAnulate" class="form-control" placeholder="Ingrese la razón de cambio de estado"
                [(ngModel)]="reasonAnulate" style="resize: none" rows="5"></textarea>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancelModal()">Cancelar</button>
      <button type="button" class="btn btn-primary" [disabled]="!reasonAnulate" (click)="acceptModal()">Aceptar</button>
    </div>
  </ng-template>