<div class="breadcrumb">
    <h1>CosmeTic</h1>
    <ul>
        <li><a href="">Compras</a></li>
        <li>Proveedores</li>
    </ul>
</div>

<div class="separator-breadcrumb border-top"></div>

<div class="row mb-3">
    <div class="col-md-12 mb-3">
        <button class="btn btn-primary float-right" [routerLink]="['/proveedores/registrar']">Crear nuevo proveedor</button>

    </div>
    <div class="col-md-12">
        <div class="card o-hidden">
            <ngx-datatable *ngIf="listProviders?.length" style="box-shadow: none" class="material fullscreen"
                [style.height]="60 * listProviders.length + 60 + 'px'" [columnMode]="'force'" [headerHeight]="50"
                [footerHeight]="0" [rowHeight]="60" [scrollbarV]="true" [scrollbarH]="true" [rows]="listProviders">
                <ngx-datatable-column name="nit_cedula">
                    <ng-template ngx-datatable-header-template>
                        Cédula-NIT
                    </ng-template>
                    <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                        {{ row.nit_cedula }}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="name_provider">
                    <ng-template ngx-datatable-header-template>
                        Nombre proveedor
                    </ng-template>
                    <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                        {{ row.name_provider }}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="email_provider">
                    <ng-template ngx-datatable-header-template>
                        Correo
                    </ng-template>
                    <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                        {{ row.email_provider }}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="address_provider">
                    <ng-template ngx-datatable-header-template>
                        Dirección
                    </ng-template>
                    <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                        {{ row.address_provider }}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="phone_provider">
                    <ng-template ngx-datatable-header-template>
                        Teléfono
                    </ng-template>
                    <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                        {{ row.phone_provider }}
                    </ng-template>
                </ngx-datatable-column>


                <ngx-datatable-column name="name_contact">
                    <ng-template ngx-datatable-header-template>
                        Nombre contacto
                    </ng-template>
                    <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                        {{ row.name_contact }}
                    </ng-template>
                </ngx-datatable-column>
                <!-- <ngx-datatable-column name="observation_provider">
                    <ng-template ngx-datatable-header-template>
                        Observación
                    </ng-template>
                    <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                        {{ row.observation_provider }}
                    </ng-template>
                </ngx-datatable-column> -->
                <ngx-datatable-column name="state_provider">
                    <ng-template ngx-datatable-header-template>
                        Estado
                    </ng-template>
                    <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                        {{ row.state_provider }}
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column [width]="180">
                    <ng-template ngx-datatable-header-template>
                        Acciones
                    </ng-template>
                    <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                        <button class="btn  btn btn-dark m-1 me-3" [routerLink]="['/proveedores/detalle', row.id_provider]">
                            <i class="i-Eye"></i> 
                        </button>
                        <button class="btn btn btn-info m-1 me-3" [routerLink]="['/proveedores/editar', row.id_provider]">
                            <i class="i-Pen-4"></i> 
                        </button>
                        <label class="switch switch-success me-3">
                            <input type="checkbox" [checked]="row.state_provider === 'Activo'">
                            <span class="slider"></span>
                          </label>
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>

        </div>
    </div>
</div>