<div class="row" style="width: 100%">
  <div class="breadcrumb">
    <h1 *ngIf="viewMode === 'detaild'">Devolución</h1>
    <ul>
      <li *ngIf="viewMode === 'detaild'">Devolución</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card mb-4">
      <div class="card-body">
        <div class="card-title mb-3">Formulario de Devolución</div>

        <form [formGroup]="formBasic" (ngSubmit)="createOrder()">
          <div class="row">
            <div class="col-md-5 form-group mb-3">
              <label for="id_client">Cliente</label>
              <select
                class="form-control"
                id="id_client"
                [disabled]="viewMode === 'detaild'"
              >
                <option>{{ selected_client }}</option>
              </select>
            </div>

            <div class="col-md-5 form-group mb-3">
              <label for="id_employee">Empleado</label>
              <select class="form-control" id="id_employee" disabled>
                <option>{{ selected_employee }}</option>
              </select>
            </div>

            <div class="col-md-2 form-group mb-3">
              <label for="payment_type">Tipo de Pago</label>
              <select class="form-control" id="payment_type" disabled>
                <option>{{ selected_payment_type }}</option>
              </select>
            </div>
          </div>

          <div class="col-md-12 mt-4 table-border">
            <table class="table table-hover mb-4">
              <thead class="bg-gray-300">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Nombre del Producto</th>
                  <th scope="col">Precio Unitario</th>
                  <th scope="col">Unidades</th>
                  <th scope="col">Subtotal</th>
                  <th scope="col">Acciones</th>
                </tr>
              </thead>
              <tbody formArrayName="products">
                <tr
                  *ngFor="let product of order_detail_products; let i = index"
                >
                  <th scope="row">{{ i + 1 }}</th>
                  <td scope="row">{{ product.product_name }}</td>
                  <td scope="row">{{ product.product_price }}</td>
                  <td>{{ product.product_quantity }}</td>
                  <td>
                    {{
                      product.product_subtotal
                        | currency : "" : "symbol" : "1.2"
                    }}
                  </td>

                  <td>
                    <div>
                    

                      <button ngbTooltip="Devolver producto" class="btn btn-warning" (click)="openRetireModal(product.id_product, product.product_value, retireModal)">
                        <i class="i-Remove"></i>
                      </button>
                      
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="table-footer">
              <div class="col-md-8"></div>
              <div class="col-md-8">
                <div class="total">
                  <span class="large-number text-nowrap display-6">
                    {{
                      order?.order?.total_order | currency : "" : "symbol" : "1.2"
                    }}
                  </span>
                </div>
              </div>
            </div>
            

            <div class="d-flex justify-content-end">
              <button class="btn btn-danger float-right" [routerLink]="['/orders']">
                Cancelar
              </button>
            
              <div style="margin-left: 10px;">
                <button type="button" class="btn btn-primary">
                  Guardar
                </button>
              </div>
            </div>
            
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<ng-template #retireModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Devolver producto</h4>
  </div>
  <div class="modal-body">
    <!-- Formulario para la cantidad, motivo y valor de la baja -->
    <div class="row mb-3">
      <div class="col-md-7">
        <label for="selectedProductId">Producto:</label>
        <input
          type="text"
          id="selectedProductId"
          class="form-control readonly-input"
          readonly
          [value]="getProductNameById(selectedProductId)"
        />
      </div>
      <div class="col-md-5">
        <label for="returnQuantity">Unidades a devolver:</label>
        <input
          type="number"
          id="returnQuantity"
          class="form-control"
          (ngModelChange)="
            returnValue = calculateUpdatedValue(selectedProductValue)
          "
          min="1"
        />
      </div>



      <div class="col-md-">
        <label>
          <input type="checkbox" class="form-check-input custom-checkbox" [(ngModel)]="wishToRetire" (change)="handleDefectiveQuantityChange()" />
          ¿Desea dar de baja el producto?
        </label>
        
      </div>




     
      <div class="col-md-12 form-group mb-3">
        <label for="returnReason">Motivo:</label>
        <textarea
          type="textarea"
          id="returnReason"
          class="form-control"
          [(ngModel)]="returnReason"
          style="resize: none;"
        ></textarea>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="modal.dismiss()">
        Cancelar
      </button>
      <button type="button" class="btn btn-primary" (click)="retireProduct()">
        Devolver
      </button>
    </div>
  </div>
</ng-template>
