<div class="row" *ngIf="!loading" style="width: 100%">
    <div class="breadcrumb">
 
      <h1 *ngIf="viewMode === 'detaild'">Devolver</h1>
      <ul>


        <li *ngIf="viewMode === 'detaild'">Devolver</li>
      </ul>
    </div>
  </div>
  

 


  <div class="row">
    <div class="col-md-12">
      <div class="card mb-4">
        <div class="card-body">
          <div class="card-title mb-3">Formulario de Devolucion</div>

          <form action="">
          
            <div class="row">
              <div class="col-md-5 form-group mb-3">
                <label for="id_client">Cliente</label>
                <select
                  class="form-control"
                  id="id_client"
                  [disabled]="viewMode === 'detaild'"
                  *ngIf="viewMode === 'detaild'"
                >
                  <option>{{ selected_client }}</option>
                </select>

              </div>
  
              <div class="col-md-5 form-group mb-3">
                <label for="id_employee">Empleado</label>
                <select
                  class="form-control"
                  id="id_employee"
                  [disabled]="viewMode === 'detaild'"
                  *ngIf="viewMode === 'detaild'"
                >
                  <option>{{ selected_employee }}</option>
                </select>
                
              </div>
  
              <div class="col-md-2 form-group mb-3">
                <label for="payment_type">Tipo de Pago</label>
                <select
                  class="form-control"
                  id="payment_type"
                  [disabled]="viewMode === 'detaild'"
                  *ngIf="viewMode === 'detaild'"
                >
                  <option>{{ selected_payment_type }}</option>
                </select>
 
     
              </div>
            </div>
  

         



            <div class="col-md-12 mt-4 table-border">
              <table class="table table-hover mb-4">
                <thead class="bg-gray-300">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre del Producto</th>
                    <th scope="col">Precio Unitario</th>
                    <th scope="col">Unidades</th>
                    <th scope="col">Subtotal</th>
                    <th *ngIf="viewMode === 'detaild'" scope="col">Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  
                    <tr *ngFor="let product of listProductsDevol">
                      <td>
                        <select
                          class="form-control"
                          id="id_product"
                          formControlName="id_product"
                          (change)="handleProductSelection($event, i)"
                        >
                          <option
                            *ngFor="let product of listProducts"
                            [value]="product.id_product"
                          >
                            {{ product.name_product}}
                          </option>
                        </select>
                      </td>
                      <td>
                        <input
                          type="number"
                          name="product_price"
                          id="product_price"
                          class="form-control"
                          formControlName="product_price"
                          [readonly]="true"
                          *ngIf="viewMode === 'new'"
                        />
                      </td>
                      <td>
                        <input
                          type="number"
                          class="form-control"
                          formControlName="product_quantity"
                          (change)="handleProductSelection($event, i)"
                        />
                      </td>
                      <td>
                        <input
                          type="number"
                          class="form-control"
                          formControlName="subtotal"
                          [readonly]="true"
                        />
                      </td>
                      <td
                        *ngIf="viewMode == 'new'"
                        class="d-flex justify-content-between"
                      >
                        <button
                          *ngIf="numberOfProducts > 1"
                          class="btn btn-danger"
                          (click)="removeProduct(i)"
                        >
                          <i class="i-Remove-Cart"></i>
                        </button>
                        <div
                          class="button_container"
                          *ngIf="i === productsFormArray.controls.length - 1"
                        >
                          <button class="btn btn-primary" (click)="addProduct()">
                            +
                          </button>
                        </div>
                      </td>
                    </tr>
                </tbody>
              </table>
              
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>