<div class="breadcrumb">
    <h1>CosmeTic</h1>
    <ul>
        <li><a href="">Ventas</a></li>
        <li>Pagos</li>
    </ul>
</div>
<div class="separator-breadcrumb border-top"></div>
<div class="col-md-12 mb-3">
    <div class="row">
        <div class="col-md-6">
            <button class="btn btn-primary float-right" [routerLink]="['/pagos/registrar']">Crear nuevo pago</button>
        </div>
        <div class="col-md-6 d-flex justify-content-end">
            <input _ngcontent-vet-c167="" id="email" placeholder="Buscar Pagos" type="text"
                class="form-control  ng-valid ng-touched ng-dirty" ng-reflect-form="[object Object]"
                style="width: 50%;">
        </div>
    </div>
</div>
<div class="card o-hidden">
    <ngx-datatable class="material fullscreen" style="height: 460px;" [columnMode]="'force'" [headerHeight]="50"
        [footerHeight]="50" [rowHeight]="60" [scrollbarV]="true" [rows]="sales" [externalPaging]="true"
        [count]="sales.length" [limit]="itemsPerPage" [offset]="(currentPage - 1) * itemsPerPage"
        (page)="onPageChange($event)">
        <ngx-datatable-column name="id_client">
            <ng-template ngx-datatable-header-template>
                Cliente
            </ng-template>
            <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                <ng-container>
                    {{ clients[row.id_client] }}
                </ng-container>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="id_sale">
            <ng-template ngx-datatable-header-template>
                # venta
            </ng-template>
            <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                {{ row.id_sale }}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="id_sale">
            <ng-template ngx-datatable-header-template>
                Estado
            </ng-template>
            <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
               Por pagar
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [width]="120">
            <ng-template ngx-datatable-header-template>
                Acciones
            </ng-template>
            <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                
                <button class="btn btn-dark m-1 me-3" [routerLink]="['/pagos/detalle/clientes', row.id_client]">
                    <i class="i-Eye"></i>
                </button>
            </ng-template>
        </ngx-datatable-column>
    </ngx-datatable>
</div>

<!-- Agrega los controles de paginación justo debajo de la tabla -->
<pagination-template (pageChange)="pageChanged($event)" [id]="paginationId">
</pagination-template>